{% extends "machina/board_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style>
        html{
          height: 100%;
          overflow-y: scroll;
        }

        body{
          height: 100%;
        }

        .navbar-login{
          width: 305px;
          padding: 10px;
          padding-bottom: 0px;
        }

        .navbar-login-session{
          padding: 10px;
          padding-bottom: 0px;
          padding-top: 0px;
        }

        .icon-size{
          font-size: 87px;
        }
    </style>
{% endblock css %}

{% block header %}
    <div class="navbar-fixed-top-spacing">&nbsp;</div>
    <div class="navbar navbar-default navbar-fixed-top machina-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SmartCambridge Forum</a>
            </div>
            <div class="collapse navbar-collapse">
                {% block header_collapse %}
                    <div class="col-sm-7 col-md-8 col-lg-5">
                        <form class="navbar-form form-inline" role="search" action="{% url 'forum_search:search' %}">
                            <div class="form-group col-sm-6 col-md-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{% trans 'Search...' %}"
                                           name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i
                                                class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'forum_search:search' %}"
                                   class="btn btn-link">{% trans "Advanced search" %}</a>
                            </div>
                        </form>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <strong>{{ request.user.username }}</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ request.user.username }}</strong>
                                                    </p>
                                                    <p class="text-left small">{{ request.user.email }}</p>
                                                    <p class="text-left">
                                                        <a href="{% url 'forum_member:profile_update' %}"
                                                           class="btn btn-primary btn-block btn-sm">{% trans "Profile" %}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{% url 'account_logout' %}?next=/"
                                                           class="btn btn-danger btn-block">{% trans "Sign out" %}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
                            <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
                        {% endif %}
                    </ul>
                {% endblock header_collapse %}
            </div>
        </div>
    </div>
{% endblock header %}
