{% extends "base.html" %}
{% load static %}
{% block head %}
    {% include 'leaflet_snippet.html' %}
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <script type="text/javascript" src="{% static 'js/MovingMarker.js' %}"></script>
{% endblock %}
{% block extra_head %}{% endblock %}
{% block title %}Bus Map{% endblock %}
{% block content %}
    {% block content_web %}
    <div style="height: 90vh;">
        <div id="map" style="height: 95%; width: 100%;"></div>
    </div>
    {% endblock %}
    {% block content_script %}
    <script>
        var map = L.map('map').setView({{ mapcenter|default:"[52.205, 0.119], 13" }});
        var info_map = L.control();
        info_map.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'leaflet-control-attribution leaflet-control'); // create a div with a class "info"
            this.update();
            return this._div;
        };
        // method that we will use to update the control based on feature properties passed
        info_map.update = function (info_text) {
            this._div.innerHTML = info_text;
        };
        var icons = {
            'ofo': L.icon({iconUrl: '{% static 'smartpanel/widgets/bikes/images/ofo.png' %}', iconSize: [38, 41]}),
            'mobike': L.icon({iconUrl: '{% static 'smartpanel/widgets/bikes/images/mobike_red.png' %}', iconSize: [36, 41]}),
        };

        function insert_bikes() {
            {% for bike in bikes %}
                L.marker([ {{ bike.lat }}, {{ bike.lng }} ], { icon: icons['{{ bike.company }}'] }).bindPopup("Last seen: {{ bike.timestamp }}").addTo(map);
            {% endfor %}
        }

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            info_map.addTo(map);
            mapbounds = map.getBounds();
            insert_bikes();
        });

    </script>
    {% endblock %}
{% endblock %}
