{% load static %}
{% load remove_underscore %}
<!DOCTYPE html>
<html>
<head>
    <title>SmartCambridge SmartPanel</title>
    <link rel="stylesheet" href="{% static 'smartpanel/smartpanel.css' %}"/>
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
    {% for stylesheet in external_stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet.href }}" integrity="{{ stylesheet.integrity }}">
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    {% for script in external_scripts %}
        <script src="{{ script.src }}" integrity="{{ script.integrity }}"></script>
    {% endfor %}
</head>
<body>
    <div class="logos" style="height: 60px;">
        <div id="screen_clock"></div>
        <a href="http://www.connectingcambridgeshire.co.uk/smartcamb/"><img alt="Connecting Cambridgshire" src="{% static 'images/logo_sc_112.png' %}"></a>
        <a href="http://www.cam.ac.uk"><img alt="The University of Cambridge" src="{% static 'images/logo_uc_112.png' %}"></a>
        <span>Adaptive Cities Platform</span>
    </div>
    <div class="grid-container mdl-color--teal-900" style="height: calc((100vw - 80px) * 0.5625); overflow: hidden;">
        <ul id="grid" class="grid">
            {% for key, value in confdata.items %}
                <li style="height: calc({{ value.design.h }}*100%/4);
                        width: calc({{ value.design.w }}*100%/6); top: calc({{ value.design.y }}*100%/4);
                        left: calc({{ value.design.x }}*100%/6);">
                    <div id="widget-{{ key }}" style="height: 100%; width: 100%; background-color: white;">
                        {% if not value.configuration %}unconfigured{% endif %}</div></li>
            {% endfor %}
        </ul>
    </div>
    <script>
        var widget = [];
        {% for key, value in confdata.items %}
            {% if value.configuration %}
            widget.push(new {{ value.configuration.widget|title|remove_underscore }}('widget-{{ key }}',
                {{ value.configuration.data|safe }}, '{% static 'smartpanel/widgets' %}'));
            {% endif %}
        {% endfor %}

        function update_screen_clock() {
            var datetime = new Date();
            var hh = ('0'+datetime.getHours()).slice(-2);
            var mm = ('0'+datetime.getMinutes()).slice(-2);
            var ss = ('0'+datetime.getSeconds()).slice(-2);
            document.getElementById('screen_clock').innerHTML = hh+':'+mm+':'+ss;
        }

        $().ready(function () {
            setInterval(update_screen_clock, 1000);
            for (var i = 0; i < widget.length; i++)
                if ('init' in widget[i])
                    widget[i].init();
        });
    </script>
</body>
</html>
