{% extends "base.html" %}

{% block content %}
    <h1>Your tokens</h1>

    {% if token_list %}
    <p>
    <form method = "post" action="">
      {% csrf_token %}
      <table>
        <tr>
          <th>Select</th>
          <th>Token name</th>
          <th>Created</th>
        </tr>
        {% for token in token_list %}
        <tr>
          <td><input name="items" type="checkbox" value="{{ token.id }}"></td>
          <td>{{ token.name }}</td>
          <td>{{ token.created }}</td>
          <td><a href="{% url 'manage_token' token_id=token.id %}">Manage restrictions</a></a></td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Delete selected">
    </form>
  </p>
    {% else %}
      <p>You have no current tokens.</p>
    {% endif %}

    <p><a href="{% url 'create_token' %}">Create a new token</a></p>

{% endblock %}
