{% extends "base.html" %}
{% block content %}
    <div class="cards-section-title mdl-typography--display-1-color-contrast">My applications</div>
    <ul class="mdl-list">
    {% for application in applications %}
        <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
                <a href="{% url 'csn_app' app_id=application.id %}" style="text-decoration: none;">
                    <i class="material-icons mdl-list__item-avatar">apps</i>
                    <span>{{ application.name }}</span>
                    <span class="mdl-list__item-text-body">{{ application.description }}</span>
                </a>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons" data-app-id="{{ application.id }}">delete</i></a>
            </span>
        </li>
    {% endfor %}
    </ul>
    <p><br></p>
    <a href="{% url 'csn_new_app' %}">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add new application</i>
        </button>
    </a>
    <dialog class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p>
                Are you sure you want to delete this application?
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <form action="{% url 'csn_delete_app' %}" method="post">
                {% csrf_token %}
                <input id="form_app_id" type="hidden" name="app_id">
                <input type="submit" class="mdl-button" value="Yes">
                <button type="button" class="mdl-button close">No</button>
            </form>
        </div>
    </dialog>
{% endblock %}
{% block lazy_script %}
    <script>
        var dialog = document.querySelector('dialog');
        var showModalButtons = document.querySelectorAll('.mdl-list__item-secondary-action');
        if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        for (var i = 0; i < showModalButtons.length; i++) {
            showModalButtons[i].addEventListener('click', function(event) {
                dialog.showModal();
                console.log(event);
                console.log(event.target.dataset);
                document.querySelector('#form_app_id').value = event.target.dataset.appId;
            });
        }
        dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
        });
    </script>
{% endblock %}
