{% extends "csn/base.html" %}
{% block content %}
    <div class="cards-section-title mdl-typography--display-1-color-contrast">Connection: {{ connection.info.name }}</div>
    <p class="mdl-typography--body-1" style="margin-bottom: 0">
        Description: {{ connection.info.description }}<br>
        URL: {{ connection.info.url }}<br>
        Devices connected to this connection:
    </p>
    <ul class="mdl-list" style="margin-top: 0; padding-top: 0;">
    {% for device in devices %}
        <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
                <a href="{% url 'csn_device' device_id=device.info.sensor_id %}" style="text-decoration: none;">
                    <i class="material-icons mdl-list__item-avatar">nfc</i>
                    <span>{{ device.info.name }}</span>
                    <span class="mdl-list__item-text-body">{{ device.info.description }}</span>
                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
    <a class="mdl-button mdl-js-button mdl-button--raised" href="{% url 'csn_devices_per_connection' connection.id %}">
        Add or remove devices</a>
    <p><br></p>
{% endblock %}
