{% extends "base.html" %}
{% block content %}
    <div class="cards-section-title mdl-typography--display-1-color-contrast">My devices</div>
    <ul class="mdl-list">
    {% for device in devices %}
        <li class="mdl-list__item"><span class="mdl-list__item-primary-content">{{ device.dev_addr }}</span></li>
    {% endfor %}
    </ul>
    <p><br></p>
    <a href="{% url 'csn_new_device' %}">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add new device</i>
        </button>
    </a>
{% endblock %}
