{% extends "base.html" %}
{% block content %}
    <div class="cards-section-title mdl-typography--display-1-color-contrast">My devices</div>
    <ul class="mdl-list">
    {% for device in devices %}
        <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">nfc</i>
                <span>{{ device.name }}</span>
                <span class="mdl-list__item-text-body">{{ device.description }}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
            </span>
        </li>
    {% endfor %}
    </ul>
    <p><br></p>
    <a href="{% url 'csn_new_device' %}">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add new device</i>
        </button>
    </a>
{% endblock %}
