{% extends "csn/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    <h3>Last week stats for gateway {{ gw_mac }}</h3>
    {% if error %}
    <p>Please, try again later</p>
    {% else %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div" class="mdl-cell--12-col"></div>
    <div class="mdl-cell--12-col">
        <p>Down time: {{ total.down_time|floatformat:"0" }}<br>
           Up time: {{ total.up_time|floatformat:"0" }}<br>
           Down count: {{ total.down_count }}<br>
           Up count: {{ total.up_count }}</p>
    </div>
    {% endif %}
{% endblock %}

{% block lazy_script %}
{% if not error %}
<script>
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawAxisTickColors);

function drawAxisTickColors() {
    var json_data = {{ graph|safe }};
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'devices_num_up');
    data.addColumn('number', 'devices_num_down');
    data.addColumn('number', 'devices_num');
    data.addColumn('number', 'up_count');
    data.addColumn('number', 'down_count');

    series = json_data['chart']['series'];
    rows = [];
    for ( var i = 0; i < series.length; i++) {
        rows.push([new Date(series[i]['time']*1000), series[i]['devices_num_up'], series[i]['devices_num_down'], series[i]['devices_num'], series[i]['up_count'], series[i]['down_count']]);
    }

    data.addRows(rows);

    var options = {
        'legend': 'bottom',
        hAxis: {
            title: 'Time',
            textStyle: {
                fontSize: 20
            },
            titleTextStyle: {
                fontSize: 16
            }
        },
        vAxis: {
            textStyle: {
                color: '#000000',
                fontSize: 16
            }
        },
        colors: ['#a5091b', '#1a710f', '#0b21a5', '#0a7071', '#a50c8f', '#4c7135']
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>
{% endif %}
{% endblock %}