/* styles for the date navigation bar located in the top middle div */

.selection_wrapper {
    position: absolute;
  text-align: center;
  display: block;
  vertical-align: top;
  z-index: 999;
  width: 100%;
  padding-top: 0.5em;

}

.selection_form {
    display: block;

}

.selection_input {
    display: inline-block;
}
.current_date{
    display: inline-block;
   
}
#date_now{
    margin: 0;
    color: #222;
    background-color: #fff;
	border: 1px solid #fff;
    border-radius: 3px;    
    font-family: Arial;
    font-style: normal;
    font-size: 13px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);

}
#date_now h2{
    margin: 0;
  
} 
.nav_date {
    display: inline-block;
    color: #222;
    background-color: #fff;
	border: 1px solid #fff;
    border-radius: 3px;    
    font-family: Arial;
    font-style: normal;
    font-size: 13px;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);   
}

.nav_date:hover {
    
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

input[type=date], select {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
 }

 input[type=submit]:hover {
    background-color: #45a049;
 }
