{% extends "base.html" %}
{% load static %}
{% block head %}
    {% include 'leaflet_snippet.html' %}
    <script>
        var route = "";
        function route_change(bus_route) {
            route = bus_route;
            retrieve_busdata();
        }
    </script>
{% endblock %}
{% block content %}
    <div style="height: 80vh;">
        <div id="title" style="height: 5%; width: 100%;"></div>
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>
        var map = L.map('map');

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            L.polyline({{ journey.journey_pattern.route.get_route_coordinates }}).addTo(map);
            map.fitBounds({{ journey.journey_pattern.route.get_route_coordinates }});
            {% for stop_timetable in journey.get_timetable_prefetch %}
            L.marker([{{ stop_timetable.stop.latitude }}, {{ stop_timetable.stop.longitude }}]).addTo(map).bindTooltip('{{ stop_timetable.time }}', { permanent: true });
            {% endfor %}
        });

    </script>
{% endblock %}
