{% extends "template.html" %}
{% load static %}
{% block content %}
        <div class="cards-section">
            <div class="card-container mdl-grid">
            {% for area in areas %}
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/photos/bus.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">{{ area.name }}</h4>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-map' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}