{% extends "template.html" %}
{% load static %}
{% block content %}
        <div class="cards-section">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">Bus information</div>
            <div class="card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/photos/bus.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Bus map</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Live buses</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-map' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

{#                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">#}
{#                    <div class="mdl-card__media">#}
{#                        <img src="{% static 'images/photos/busstop2.jpg' %}">#}
{#                    </div>#}
{#                    <div class="mdl-card__title">#}
{#                        <h4 class="mdl-card__title-text">Bus stops</h4>#}
{#                    </div>#}
{#                    <div class="mdl-card__supporting-text">#}
{#                        <span class="mdl-typography--font-light mdl-typography--subhead">Lists of all bus stops in Cambridgeshire</span>#}
{#                    </div>#}
{#                    <div class="mdl-card__actions">#}
{#                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-stops-list' %}">#}
{#                            View#}
{#                            <i class="material-icons">chevron_right</i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/area.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Areas</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of areas to analyse</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'transport-areas' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/photos/bus3.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Bus lines</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Explore bus line information</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-lines-list' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}