{% extends "base.html" %}
{% load static %}
{% block head %}
    {% include 'leaflet_snippet.html' %}
    {% include 'leaflet_markercluster_snippet.html' %}

    <script src="{% static 'smartpanel/bus_stop_chooser/bus_stop_chooser.js' %}"></script>
    <link rel="stylesheet" href="{% static 'smartpanel/bus_stop_chooser/bus_stop_chooser.css' %}">
{% endblock %}
{% block content %}
    <div style="height: 80vh;">
        <div id="title" style="height: 5%; width: 100%;"></div>
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>
        $(document).ready(function() {
            var input_div = document.getElementById('map');
            var chooser_options = {
                onclick_redirect: true,
                popups: false,
                location: true,
                api_endpoint: "{{ SMARTPANEL_API_ENDPOINT }}",
                api_token: "{{ SMARTPANEL_API_TOKEN }}"
            };
            var chooser = BusStopChooser.create(chooser_options);
            chooser.render(input_div);
        });
    </script>
{% endblock %}
 