{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <title>RTRoute</title>
<script>
var VERSION = '6.00';
            // 6.00 token support WIP, migrated from tfc_prod/www to tfc_web
            // 5.06 token support WIP, set_uri added to RTMONITOR_API
            // 5.05 bugfix for TIMETABLE_URI
            // 5.04 updated to use rtmonitor_api 3.0 (register & connect methods)
            // 5.03 added transport/stops API to retrieve stops within bounding box
            // 5.02 remove local rt socket code and use RTMonitorAPI from tfc_web
            // 5.01 move bus tracking code into ../rt_tracking, generalize API for tracking
            // 4.10 add rtmonitor-config.js and API key support
            // 4.09 rtmonitor websocket uri now https, added blur callback for change on page
            // 4.08 improving polygon draw support
            // 4.07 forward/back scroll through sock send messages, subscribe link on bus popup
            // 4.06 display/update RTMONITOR_URI on page
            // 4.05 will now get_route() and draw_route_profile() on bus popup -> journey
            // 4.04 geo.js get_box() and is_inside() testing
            // 4.03 using stop -> journeys API
            // 4.02 restructure to use sensor.state.route_profile and not .route
            // 4.01 adding timetable API call to lookup sirivm->route
            // 3.12 added 'pattern_starting' sensor state variable 0..1
            // 3.11 improve timetable vector from prior start stub
            // 3.10 segment_progress (not path_progress)
            // 3.09 progess (still as 'path progress')
            // 3.08 added stop delay to (path) progress
            // 3.06 more work on (path) progress vector
            // 3.04 'before' function added to segment distance
            // 3.03 'beyond' function added to segment distance
            // 3.01 added basic timetable vector (binary started /not started)
            // 2.00 initial development of 'progress vector'
            // 1.00 initial development of 'segment distance vector'
</script>
<!--
RELEASE INFO:
    2018-12-30 Migrated from tfc_prod/www/backdoor to become tfc_web template
    2018-10-22 rtroute real-time analyze along journey WIP
    2018-10-18 rtmonitor_api.js added to replace rtroute.js rtmonitor access
    2018-10-15 rt_tracker.js added to hold probablistic bus tracking code
    2018-08-31 rtroute_config.js added to store non-Git URL's and API token
    2017-12-10 Added progress vector, improved record, replay, logging
    2017-12-08 moved JS into rtroute.js.
               Replay with sample trip
               Shims for sirivm_to_journey_id and vehicle_journey_id_to_route
               'state' code for buses e.g. route_index, segment_probability
               Route segment probabilities based on sirivm -> segment distance
               Route segment probabilities based on current route_index
    2017-12-01 imported stops, journeys and trip data, draw_stops and draw_route code
    2017-11-30 Moved code into rtroute.html to experiment with route calculations
    ----
    2017-11-26 generalized from buses, latest full data in popup, icon resize on old data,
               map can go fullscreen
    2017-11-25 supports connect, close, subscribe, request with filters '=' and 'inside'
                console log using divs, draw polygon, clear icons
    2017-11-14 page working for connect, subscribe, close
    2017-11-11 initial version to connect websocket to vertx rtmonitor
-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

<link rel="stylesheet" href="{% static 'map.css' %}" />

<script type="text/javascript" src="{% static 'js/MovingMarker.js' %}"></script>

<!-- ********************************************************************************* -->
<!-- load stops and journey data for OriginRef 0500CCAMB011 (De La Warr Way Cambourne) -->

<!-- create js object rtroute_journeys (every timetable journey from Cambourne) -->
<script type="text/javascript" src="{% static 'transport/rtroute/rtroute_journeys_citi4.js' %}"></script>

<!-- create js object rtroute_stops (all stops used in above journeys) -->
<script type="text/javascript" src="{% static 'transport/rtroute/rtroute_stops_cam.js' %}"></script>

<link rel="stylesheet" href="{% static 'transport/rtroute/rtroute.css' %}" />

<!-- Create object to store test data from following files -->
<script type="text/javascript">
var test_sirivm_journey = {};
</script>

<!-- create array of sirivm js objects rtroute_trip (one sample journey) -->
<script type="text/javascript" src="{% static 'transport/rt_tracker/sample_data/bus4_2017-11-20-06-02_annotated.js' %}"></script>
<script type="text/javascript" src="{% static 'transport/rt_tracker/sample_data/bus4_2017-11-20-06-22_annotated.js' %}"></script>
<script type="text/javascript" src="{% static 'transport/rt_tracker/sample_data/bus4_2017-11-20-06-42_annotated.js' %}"></script>
<script type="text/javascript" src="{% static 'transport/rt_tracker/sample_data/bus4_2017-11-20-07-22_annotated.js' %}"></script>
<script type="text/javascript" src="{% static 'transport/rt_tracker/sample_data/bus4_2017-11-20-07-42_annotated.js' %}"></script>

<!-- RTMonitor and WebSockets library -->
<script src="{% static 'js/sockjs.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/MovingMarker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rtmonitor_api.js' %}"></script>

<!-- ijl20 library of useful geo functions -->
<script src="{% static 'js/geo.js' %}"></script>

<!-- Non-version-controled config parameters -->
<script src="{% static 'transport/rtroute/rtroute_config.js' %}"></script>

<!-- The core realtime display and route analytics code -->
<script src="{% static 'transport/rtroute/rtroute.js' %}"></script>

<!-- the ijl20 bus tracking code -->
<script src="{% static 'transport/rt_tracker/rt_tracker.js' %}"></script>

<script>

var RTMONITOR_API = null;

var RTMONITOR_URI = '{{ RTMONITOR_URI }}';

// RTMonitor rt_connect client_data
var CLIENT_DATA = { rt_client_name: 'RTRoute V'+VERSION,
                    rt_client_id: 'rtroute',
                    rt_token: '{{ rt_token }}'
                  };

function init()
{
    RTMONITOR_API = new RTMonitorAPI(CLIENT_DATA, RTMONITOR_URI);

    rtroute_init(); // init function in rtroute.js
}

</script>

</head>

<!-- ************************************************************************************** -->
<!-- ************************************************************************************** -->
<!-- *********  PAGE HTML      ************************************************************ -->
<!-- ************************************************************************************** -->
<!-- ************************************************************************************** -->
<body onload='init()'>

<div id="control_div" class="top-aligned control_div">
    <h1><span id="page_title"></span> <span id='clock'></span></h1>
<div><a href="#" onclick="hide_control()">hide</a>
</div>
<div class="control_heading">Real-time requests and subscriptions</div>
<div class="control_box">
    <form>
        <input type="text" id="rtmonitor_uri"></input>
    </form>
    <button onclick="page_reset()"
        title="Reset this page"
        >Reset</button>
    <button onclick="rt_connect('nginx')"
        title="Connect socket to server and send rt_connect msg"
        >Connect</button>
    <button onclick="rt_disconnect()"
        title="Close socket connection to server"
        >Close</button>
    <!--<button onclick="request_latest_msg()"
        title="Get the latest eventbus message from the server"
        >Request msg</button> -->
    <button onclick="request_latest_records()"
        title="Get all the latest data records accumulated on the server"
        >Request records</button>
    <button onclick="subscribe_all()"
        title="Get a 'push' real-time subscription to all the data records as they arrive"
        >Subscribe All</button>
    <input type="button" id="draw_poly" onclick="draw_poly()" value="Draw Polygon"
        title="Draw a polygon on the map to create an API 'inside' filter in scratchpad"
        ></input>
    <input type="button" id="load_poly" onclick="load_poly()" value="Load Polygon"
        title="Draw a polygon on the map from data in the scratchpad"
        ></input>
</div>
<div class="control_heading">Display options</div>
<div class="control_box">
    <input type="button" id="clear_markers" onclick="clear_markers()" value="Clear icons"
        title="Remove any sensor icons that have been drawn on the map"
        ></input>
    <div class='toggle_option'>Breadcrumbs: <input id="breadcrumbs" type="checkbox" onclick="click_breadcrumbs()"/></div>
    <input type="button" id="clear_crumbs" onclick="clear_crumbs()" value="Clear breadcrumbs"
        title="Remove any breadcrumbs that have been drawn on the map"
        ></input>
    <div class='toggle_option'>Stops: <input id="draw_stops" type="checkbox" onclick="click_stops()"/></div>
</div>
<div class="control_heading">Console log options</div>
<div class="control_box">
    <div class="toggle_option">Log oldest top: <input id="log_append" type="checkbox" onclick="click_log_append()"/></div>
    <div class="toggle_option">Log data records: <input id="log_data" type="checkbox" onclick="click_log_data()"/></div>
    <input type="button" onclick="log_clear()"
        title="Clear log"
        value="Clear"
        ></input>
</div>
<div class="control_heading">Data recording</div>
<div class="control_box">
    <input type="button" id="record_start" onclick="record_start()" value="Record"
        title="Record the data as it arrives"
        ></input>
    <input type="button" id="record_clear" onclick="record_clear()" value="Clear"
        title="Cancel recording"
        ></input>
    <input type="button" id="record_print" onclick="record_print()" value="Print"
        title="Print the recorded data to the console"
        ></input>
</div>
<!-- TEST BUTTONS are added by javascript into this div -->
<div id="test_buttons">
</div>
<div class="control_heading">Route analysis</div>
<div class="control_box">
    <div class="toggle_option">Show journey: <input id="show_journey" type="checkbox" onclick="click_show_journey()"/></div>
    <div class="toggle_option">Hide map: <input id="hide_map" type="checkbox" onclick="click_hide_map()"/></div>
    <div class="toggle_option">Analyze: <input id="analyze" type="checkbox" onclick="click_analyze()"/></div>
    <div class="toggle_option">Batch: <input id="batch" type="checkbox" onclick="click_batch()"/></div>
    <div class="toggle_option">Annotate&nbsp;(Auto:<input id="annotate_auto" type="checkbox" onclick="click_annotate_auto()"/>&nbsp;
    Manual:<input id="annotate_manual" type="checkbox" onclick="click_annotate_manual()"/>)</div>
    <div class="toggle_option">Pause error: 
        <input id="replay_stop_on_error" type="checkbox" onclick="click_replay_stop_on_error()"/></div>
    <br/>

    <button onclick="replay_start()"
        title="Replay test SiriVM data"
        value="Replay"
        class="button_img"><img src="/static/images/replay_play.png"/></button>
    <input id="replay_start" type="text" size="22" value="2017-11-20T06:00:00Z"></input><br/>
    <button onclick="click_replay_pause()"
        title="Pause replay"
        value="Pause"
        class="button_img"><img src="/static/images/replay_pause.png"/></button>
    <button onclick="replay_stop()"
        title="Stop replay"
        value="Stop"
        class="button_img"><img src="/static/images/replay_stop.png"/></button>
    Speed: <input id="replay_speedup" type="text" size="4" value="10"
                onchange="click_replay_speedup()"></input>
    <button onclick="replay_step()"
        title="Step replay"
        value="Step"
        class="button_img"><img src="/static/images/replay_step.png"/></button>
</div>

<div class="control_heading">Realtime API scratchpad:</div>

<div class="scratchpad_box">
<div class="button_box">
  <button class="verticle_button" onclick="rt_send_input('rt_scratchpad')">Send:</button>
  <button class="verticle_button" onclick="clear_textarea('rt_scratchpad')">Clear</button>
  <button class="verticle_button" onclick="rt_prev_msg('rt_scratchpad')">&lt;</button>
  <button class="verticle_button" onclick="rt_next_msg('rt_scratchpad')">&gt;</button>
</div>

<textarea rows="25" cols="50" id="rt_scratchpad">
{ "msg_type": "rt_subscribe",
  "request_id": "A",
  "filters" : [
                {"test": "=",
		 "key": "VehicleRef",
                 "value": "ABC"
                }
              ]
}
</textarea>
</div>

</div> <!-- end of control_div -->

<!-- progress -->
<div id="progress_div" class="progress_div">
</div>

<!-- MAP -->
<div class="map_container">
<div id="map"></div>
</div>

<!-- console log -->
<div id="log_div"></div>

</body>
</html>
