{% extends "template.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <script type="text/javascript" src="{% static 'js/MovingMarker.js' %}"></script>
    <script>
        var route = "";
        function route_change(bus_route) {
            route = bus_route;
            retrieve_busdata();
        }
    </script>
{% endblock %}
{% block content %}
    <div style="height: 80vh;">
        <div id="title" style="height: 5%; width: 100%;"><h3 style="margin-left: 20px;">{{ journey.journey_pattern.route.line }}</h3></div>
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>
        var map = L.map('map');
        var vehicle_journey = "{{ vj.id }}";
        var info_map = L.control();
        var urlparams = new URLSearchParams(window.location.search);
        var debug = urlparams.has('debug');
        var timetable = [{% for timetable_entry in timetable %}
            { "stop_id": "{{ timetable_entry.stop.atco_code }}", "stop_name": "{{ timetable_entry.stop }}",
                "stop_lat": "{{ timetable_entry.stop.latitude }}", "stop_lon": "{{ timetable_entry.stop.longitude }}",
                "time": "{{ timetable_entry.time }}:00", "time_rt": "Calculating..." },
        {% endfor %}];

        info_map.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'leaflet-control-attribution leaflet-control'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info_map.update = function (info_text) {
            this._div.innerHTML = info_text;
        };

        var bus_marker;
        var busIcon = L.icon({
            iconUrl: '{% static 'images/bus-logo.png' %}',
            iconSize: [30, 30]
        });

        function update_delay(delay) {
            var regex_time = /(\d+):(\d+):(\d+)/;
            var regex_xml_duration = /(-)?PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?/;
            var delay_dc = regex_xml_duration.exec(delay);
            for (var i = 0; i < timetable.length; i++) {
                var time = new Date();
                var time_dc = regex_time.exec(timetable[i]['time']);
                var hours = parseInt(time_dc[1]);
                if (delay_dc[2] !== undefined)
                    hours += parseInt(delay_dc[2]);
                var minutes = parseInt(time_dc[2]);
                if (delay_dc[3] !== undefined)
                    minutes += parseInt(delay_dc[3]);
                var seconds = 0;
                if (delay_dc[4] !== undefined)
                    seconds += parseInt(delay_dc[4]);
                time.setSeconds(0);
                time.setMinutes(0);
                time.setHours(0);
                time.setSeconds(seconds + minutes * 60 + hours * 3600);
                timetable[i]["time_rt"] = time.getHours().toString().padStart(2, "0") + ":" + time.getMinutes().toString().padStart(2, "0") + ":" + time.getSeconds().toString().padStart(2, "0");
                timetable[i]["marker"].setTooltipContent("<a href='/transport/stop/"+timetable[i]['stop_id']+"/'>"+timetable[i]['stop_name']+"</a><br>Timetable: "+timetable[i]['time']+"<br>Expected: "+timetable[i]['time_rt'], { permanent: true, interactive: true });
            }
        }

        function retrieve_busdata(previous=false) {
            var url;
            url = '{% url 'siriVM-to-journey' %}';
            $.ajax({
                url: url,
                dataType: 'application/json',
                complete: function (data) {
                    var json = JSON.parse(data.responseText);
                    info_map.update(new Date(json['ts']*1000));
                    var tooltip_content = '';
                    for (var i = 0; i < json['request_data'].length; i++) {
                        var bus = json['request_data'][i];
                        if ((bus["vehicle_journeys"] !== undefined) && (bus["vehicle_journeys"].length > 0) && (bus["vehicle_journeys"][0] === vehicle_journey)) {
                            if (bus_marker !== undefined) {
                                if (bus['RecordedAtTime'] !== bus_marker['RecordedAtTime']) {
                                    bus['marker'] = bus_marker['marker'];
                                    bus['marker'].moveTo([bus["Latitude"], bus["Longitude"]], [new Date(bus['RecordedAtTime']) - new Date(bus_marker['RecordedAtTime'])]);
                                    bus['marker'].resume();
                                    if (debug) {
                                        tooltip_content = 'VehicleRef: ' + bus["VehicleRef"] + '<br>' +
                                            'Delay: ' + bus["Delay"];
                                    } else if (bus["Delay"] !== undefined){
                                        update_delay(bus["Delay"]);
                                    }
                                    bus['marker'].setTooltipContent(tooltip_content);
                                    bus_marker = bus;
                                }
                            } else {
                                bus['marker'] = L.Marker.movingMarker([[bus["Latitude"], bus["Longitude"]], [bus["Latitude"], bus["Longitude"]]], [1000], {icon: busIcon});
                                if (debug) {
                                    tooltip_content = 'VehicleRef: ' + bus["VehicleRef"] + '<br>' + 'Delay: ' + bus["Delay"];
                                } else if (bus["Delay"] !== undefined){
                                    update_delay(bus["Delay"]);
                                }
                                if (tooltip_content === '') {
                                    bus['marker'].addTo(map).start();
                                } else bus['marker'].addTo(map).bindTooltip(tooltip_content, {
                                    permanent: true,
                                    className: "bus-tooltip",
                                    interactive: true
                                }).start();
                                bus_marker = bus;
                            }
                        }
                    }
                }
            });
        }

        function retrieve_busdata_repeat() {
            retrieve_busdata();
            setTimeout(retrieve_busdata_repeat, 2000);
        }

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            info_map.addTo(map);
            var coordinates = [];
            for (var i = 0; i < timetable.length; i++) {
                coordinates.push([timetable[i]['stop_lat'], timetable[i]['stop_lon']]);
            }
            L.polyline(coordinates).addTo(map);
            map.fitBounds(coordinates);
            mapbounds = map.getBounds();
            for (var i = 0; i < timetable.length; i++) {
                timetable[i]['marker'] = L.marker([timetable[i]['stop_lat'], timetable[i]['stop_lon']]);
                timetable[i]['marker'].addTo(map).bindTooltip("<a href='/transport/stop/"+timetable[i]['stop_id']+"/'>"+timetable[i]['stop_name']+"</a><br>Timetable: "+timetable[i]['time']+"<br>Expected: "+timetable[i]['time_rt'], { permanent: true, interactive: true });
            }
            retrieve_busdata_repeat();
        });
    </script>
{% endblock %}
