{% extends "template.html" %}
{% load static %}

{% block title %}
Parking Map
{% endblock %}
{% block page_title %}
Parking Map
{% endblock %}
{% block mobile_title %}
Parking Map
{% endblock %}

{% block head %}
    {% include 'leaflet_snippet.html' %}
{% endblock %}
    
{% block content %}
    <div style="height: 80vh;">
        <div id="sys_info"></div>
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>

        // could use 'Area' concept here
        var map = L.map('map').setView([52.2038, 0.1207], 13);
        var mapMarkers = [];
        var car_park_icon = L.icon({
            iconUrl: '{% static 'images/parking_30x30.png' %}',
            iconSize: [30, 30]
        });
        var park_and_ride_icon = L.icon({
            iconUrl: '{% static 'images/park_and_ride_30x30.png' %}',
            iconSize: [30, 30]
        });

        // given a parking config record, return appropriate icon
        function parking_icon(parking_entry)
        {
          switch (parking_entry["parking_type"])
          {
            case "park_and_ride":
              return park_and_ride_icon;

            default:
              return car_park_icon;
          }
        }
        
        // ********************************************************************************
        // *************  Parking list info provided by server ****************************
        // ********************************************************************************
        
        var parking_list = (JSON.parse( '{{ config_parking_list|escapejs }}' ))["request_data"]["parking_list"];
        
        // ********************************************************************************
        // *************  Parking occupancy info provided by server ****************************
        // ********************************************************************************
        
        var parking_feed = (JSON.parse( '{{ config_parking_feed|escapejs }}' ))["request_data"];
        
        // ********************************************************************************
        // *************  end of server parking list info      ****************************
        // ********************************************************************************

        // create lookup table for occupancy data, index by parking_id

        var occupancy = {};
        if (parking_feed.request_data.length==0)
        {
            console.log('Parking feed data length is zero');
            var error_message = document.createElement('div');
            error_message.className = 'error_message';
            var error_text = document.createElement('h2');
            error_text.className = 'error_text';
            error_text.appendChild(document.createTextNode('Our source of parking data seems to have a problem, we are looking into it...'));
            error_message.appendChild(error_text);
            document.getElementById('sys_info').appendChild(error_message);
        }
        for ( var i = 0; i < parking_feed.request_data.length; i++ )
        {
          occupancy[parking_feed.request_data[i].parking_id] = parking_feed.request_data[i];
        }
        
        for ( var i = 0; i < parking_list.length; i++) {
                var parking_id = parking_list[i]['parking_id'];
                var marker = L.marker([ parking_list[i]["latitude"],
                                        parking_list[i]["longitude"]
                                      ],
                                      { icon: parking_icon(parking_list[i]) }
                             )
                             .addTo(map)
                try
                {             
                    marker.bindTooltip(
                             '<a href="{% url 'parking_plot' parking_id='Q4179568' %}'.replace('Q4179568',parking_id) + '?priordays=1,7">' +
                             parking_list[i]["parking_name"] +
                             '</a>' +
                             
                             '<br/>Spaces:' + occupancy[parking_id].spaces_free +'/'+
                                 occupancy[parking_id].spaces_capacity,
                             { direction: 'top',
                               offset: L.point(10,-10),
                               interactive: true,
                               permanent: true
                             }
                                  ).openTooltip();
                }
                catch (err)
                {
                    console.log('Error adding occupancy data to '+parking_id);
                }
                mapMarkers.push(marker);
        }

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });

    </script>
{% endblock %}
