{% extends "template.html" %}
{% load static %}

{% block page_title %}
    Parking List
{% endblock %}
{% block mobile_title %}
    Parking List
{% endblock %}

{% block head %}
    <!-- load the d3 library for the chart plot -->
    <script src="{% static 'd3/d3.v3.min.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <!-- PAGE CONTENT IS JUST THIS DIV TO HOLD CARDS -->
    <div class="cards-section">
        <div id="parking_cards" class="card-list-container mdl-grid"></div>
    </div>

    <script>

        document.title = 'Parking list';

        var parking_cards = document.getElementById('parking_cards');

        var pie_width = 100,
            pie_height = 100,
            pie_radius = Math.min(pie_width, pie_height) / 2;

        var pie_color_fill = function (spaces_capacity, spaces_free, i) {
            if (i == 0) // spaces_occupied
            {
                console.log(spaces_capacity, spaces_free, i)
                // nearly full = red, otherwise green
                if (spaces_free / spaces_capacity < 0.2) {
                    return '#d62728'; // red
                } else {
                    return '#2ca02c'; // green
                }
            } else { // spaces_free
                return 'rgba(0,0,0,0)';
            }
        };

        var pie_color_stroke = function (d, i) {
            return 'rgba(255,255,255,1.0)';
        };

        var pie = d3.layout.pie()
            .sort(null);

        var arc = d3.svg.arc()
            .innerRadius(pie_radius - 30)
            .outerRadius(pie_radius - 10);

        function add_parking(parking_name, parking_id, spaces_free, spaces_capacity) {
            //<div id="grand-arcade-car-park" class="mdl-card mdl-shadow--2dp demo-card-square">
            //    <div id="grand-arcade-car-park_title" class="mdl-card__title mdl-card--expand">
            //        <h2 class="mdl-card__title-text">Grand Arcade</h2>
            //    </div>
            //    <div id="grand-arcade-car-park_text" class="mdl-card__supporting-text">
            //        231 spaces free / 890
            //    </div>
            //    <div class="mdl-card__actions mdl-card--border">
            //        <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            //            View
            //        </a>
            //    </div>
            //</div>
            <!-- end Square card -->

            // create card div
            var card = document.createElement('div');
            card.className = 'mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp list-card-square';

            // create card__title div
            var title = document.createElement('div');
            title.className = 'mdl-card__title mdl-card--expand';
            title.id = parking_id + '_title';
            var title_text = document.createElement('h2');
            title_text.className = 'mdl-card__title-text mdl-card__title-text-half';
            title_text.appendChild(document.createTextNode(parking_name));
            title.appendChild(title_text);
            card.appendChild(title);

            // create card__supporting-text div
            var supporting_text = document.createElement('div');
            supporting_text.className = 'mdl-card__supporting-text';
            // Note in some feeds it is possible spaces_occupied > spaces_capacity
            // so here we ensure spaces_free is displayed as 0 rather than negative
            supporting_text.appendChild(document.createTextNode((spaces_free > 0 ? spaces_free : 0) + ' spaces free / ' + spaces_capacity));
            card.appendChild(supporting_text);

            // create card__actions div
            var actions = document.createElement('div');
            actions.className = 'mdl-card__actions mdl-card--border';
            var button = document.createElement('a');
            button.className = 'aqua-link mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect';
            button.innerHTML = 'View <i class="material-icons">chevron_right</i>';
            button.href = "{% url 'parking_plot' parking_id='Q4179568' %}".replace('Q4179568', parking_id) + '?priordays=1,7';
            actions.appendChild(button);
            card.appendChild(actions);

            // add card to page
            parking_cards.appendChild(card);

            // ************************************
            // add donut chart to this card on page
            // ************************************
            var svg = d3.select('#' + parking_id + '_title')
                .insert('div')
                .attr('class', 'pie')
                .insert('svg')
                .attr('class', 'pie')
                .attr("width", pie_width)
                .attr("height", pie_height)
                .append("g")
                .attr("transform", "translate(" + pie_width / 2 + "," + pie_height / 2 + ")");

            var path = svg.selectAll("path")
                .data(pie([spaces_capacity - spaces_free, spaces_free]))
                .enter().append("path")
                .attr("fill", function (d, i) {
                    return pie_color_fill(spaces_capacity, spaces_free, i)
                })
                .attr("stroke", pie_color_stroke)
                .attr("d", arc);
            // ************************************
            // ************************************
        }

        // ********************************************************************************
        // *************  Parking list info provided by server ****************************
        // ********************************************************************************

        var parking_list = (JSON.parse('{{ config_parking_list|escapejs }}'))["request_data"]["parking_list"];

        // ********************************************************************************
        // *************  Parking occupancy info provided by server ****************************
        // ********************************************************************************

        var parking_feed = (JSON.parse('{{ config_parking_feed|escapejs }}'))["request_data"];

        // ********************************************************************************
        // *************  end of server parking list info      ****************************
        // ********************************************************************************

        // Create 'occupancy' dictionary parking_id -> occupancy record
        var occupancy = {};
        for (var i = 0; i < parking_feed.request_data.length; i++) {
            occupancy[parking_feed.request_data[i].parking_id] = parking_feed.request_data[i];
        }

        // Now iterate through all car parks in config list, adding card to page for each
        for (var i = 0; i < parking_list.length; i++) {
            var parking_id = parking_list[i]['parking_id'];
            var parking_name = parking_list[i]['parking_name'];
            var spaces_free = occupancy[parking_id].spaces_free;
            var capacity = occupancy[parking_id].spaces_capacity;

            add_parking(parking_name, parking_id, spaces_free, capacity);

            // finally, set the page to refresh in 6 mins...
            setTimeout(function () {
                location.reload();
            }, 6 * 60 * 1000);

        }

    </script>
{% endblock %}
