body {
    margin: 0;
}

/* Make titles BLACK for tfc_web, not mdl white-on-white */
.mdl-layout-title {
    color: #000;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

title {
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent !important;
    color: #757575;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
    opacity: .87;
    text-decoration: none;
    margin: 0 0 0 10px;
}

::-moz-selection {
    background-color: #1cb2b5;
    color: #fff;
}

::selection {
    background-color: #1cb2b5;
    color: #fff;
}

.search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}


.mdl-textfield--expandable {
    width: auto;
}


.mobile-title {
    display: none !important;
}


.logo-image {
    height: 50px;
}


.header {
    overflow: visible;
    background-color: white;
}

.header .material-icons {
    color: #767777 !important;
}

.header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}

.header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

.navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}

.search-box.is-focused + .navigation-container {
    opacity: 0;
    width: 100px;
}


.navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #1cb2b5;
}

.search-box {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.more-button {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}


.drawer {
    border-right: none;
}

.drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #1cb2b5;
}

.drawer .mdl-layout-title {
    position: relative;
    background: white;
    height: 160px;
}

.drawer .logo-image {
    position: absolute;
    bottom: 16px;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.aqua-link {
    text-decoration: none;
    color: #1cb2b5 !important;
}

.aqua-link:hover {
    color: #1cb2b5 !important;
}

.aqua-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.cards-section {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.cards-section .cards-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.card-container {
}

.card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.card-container .mdl-card__media img {
    width: 100%;
}

.card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.card-container .mdl-card__title-text {
    color: black;
    height: auto;
}

.card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
}

.card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}

footer {
    background-color: #fafafa !important;
    position: relative;
}

footer a:hover {
    color: #1cb2b5;
}

footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}

footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}

footer .mdl-mega-footer--bottom-section {
    position: relative;
}

footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}


.aqua-link-menu:hover {
    cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
    .navigation-container {
        display: none;
    }

    .title {
        display: none !important;
    }

    .logo-image {
        height: 35px;
    }

    .mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .search-box.is-focused ~ .mobile-title,
    .search-box.is-focused + .navigation-container + .mobile-title {
        opacity: 0;
    }

    .more-button {
        display: none;
    }

    .search-box.is-focused {
        width: calc(100% - 48px);
    }

    .search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }

    footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}
