/* Styles for the treView class used on the download API page.
   Heavily based on http://code.iamkate.com/javascript/collapsible-lists/
*/

.treeView{
    line-height: 1.5;
    position:relative;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;

}

.treeView ul{
    font-size: 16px;
    margin:0 0 0 -1.5em;
    padding:0 0 0 1.5em;
}

.treeView ul ul{
    background:url("images/treeview/list-item-contents.png") repeat-y left;
}

.treeView li:last-child > ul{
    background-image:none;
}

.treeView li{
    background:url("images/treeview/list-item-root.png") no-repeat top left;
    cursor:auto;
    list-style-image:url("images/treeview/button.png");
    list-style-position:inside;
    margin:0;
    padding:0;
}

.treeView li.collapsibleListOpen{
    cursor:pointer;
    list-style-image:url("images/treeview/button-open.png");
}

.treeView .collapsibleListClosed{
    cursor:pointer;
    list-style-image:url("images/treeview/button-closed.png");
}

.treeView li li{
    background-image:url("images/treeview/list-item.png");
    padding-left:1.5em;
}

.treeView li:last-child{
    background-image:url("images/treeview/list-item-last.png");
}

.treeView .root{
    list-style: none;
}

.treeView li.collapsibleListOpen{
    background-image:url("images/treeview/list-item-open.png");
}

.treeView li.collapsibleListOpen:last-child{
    background-image:url("images/treeview/list-item-last-open.png");
}

h2{
    margin-bottom: 12px;
}

.download-icon{
    display: inline-block;
    height: 1em;
    vertical-align: baseline;
}
