/* Widget configuration CSS */

.widget_config {
    border-style: ridge;
    border-width: thick;
    background-color: #ffffe6;
    z-index: 1001;
    position: absolute;
    top: 100px;
    left: 800px;
    /* display: none; */
}

.widget_config > h1 {
    text-align: center;
    margin: 5px;
}

.widget_config > form {
    padding: 4px;
    font-size:  14px;
    color: #333;
}

.widget_config label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.widget_config_property_name {
    vertical-align: top;
    text-align: right;
}

.widget_config_property_value {
    vertical-align: top;
    text-align: left;
}

.widget_config input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.widget_config button {
    float: right;
    margin: 4px;
}

