/* Widget configuration CSS */

.widget_config {
    font-family: Arial, sans-serif;
}

.widget_config h1 {
    text-align: center;
    margin: 5px;
    font-size: 26px;
}

.widget_config form {
    padding: 4px;
    font-size:  14px;
    color: #333;
}

.widget_config label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.widget_config_property_name {
    text-align: right;
    padding-right: 5px;
}

.widget_config_property_value {
    text-align: left;
    position: relative;
}

.widget_config_map_warning {
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    background: white;
    padding: 6px 8px;
    z-index: 1000;
}

.widget_config_map_spinner {
    right: 10px;
    top: 10px;
    padding: 1%;
    position:absolute;
    background: white;
    z-index: 1001;
}

.widget_config input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.widget_config textarea {
    height: 500px;
    width:  600px;
    padding: 10px;
}

.widget_config_plus {
    float: right;
    margin: 4px;
}

.widget_config_x {
    float: right;
    margin: 4px;
}

.widget_config_repeating_element {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 2px;
}

.widget_config_chooser_button {
    margin-top: 5px;
    margin-left: 5px;
}

.widget_config_chooser_div {
    display: inline-block;
}

.widget_config_chooser_link {
    display: block;
    margin: 2px;
}

