{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
        <div class="cards-section">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">Dashboards</div>
            <div class="card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New Dashboard</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Design a new dashboard</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'dashboard-design' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">My dashboards</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of all my dashboards</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'dashboard-my' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
