{% load static %}
{% load remove_underscore %}
<!DOCTYPE html>
<html>
<head>
    <title>SmartCambridge dashboard configuration</title>
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/brutusin/json-forms@1.6.3/dist/css/brutusin-json-forms.min.css'/>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href='{% static 'mdl/material.min.css' %}'/>
    <script src="{% static 'mdl/material.min.js' %}"></script>
    <script src="{% static 'dashboard/brutusin-json-forms.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/brutusin/json-forms@1.6.3/dist/js/brutusin-json-forms-bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% for key, value in confdata.items %}
        {% if value.configuration %}
        <script src="{% static 'dashboard/widgets' %}/{{ value.configuration.widget }}/{{ value.configuration.widget }}.js"></script>
        {% endif %}
    {% endfor %}
</head>
<body style="margin-left: 20px; margin-right: 20px;">
    <div>
        <h1>Layout</h1>
        <p>name: {{ layout.name }}</p>
        {% if debug %}
        <p>design: {{ layout.design }}</p>
        <p>config: {{ layout.configuration }}</p>
        <p>confdata: {{ confdata }}</p>
        {% endif %}
        <p><a href="{% url 'layout' layout.id %}" target="_blank">View layout</a></p>
    </div>
    {% for key, value in confdata.items %}
        <div id="section-{{ key }}" style="margin-bottom: 30px;">
            <div class="grid-container mdl-color--teal-900" style="width: 192px; height: 108px; overflow: hidden;
            margin: 20px;">
                <div style="position: absolute; width: 192px; height: 108px;">
                    <div style="position: absolute; height: calc({{ value.design.h }}*100%/4);
                            width: calc({{ value.design.w }}*100%/6);
                            top: calc({{ value.design.y }}*100%/4);
                            left: calc({{ value.design.x }}*100%/6); border: solid 1px black; background-color: white;">
                        <p style="text-align: center">{{ key }}</p>
                    </div>
                </div>
            </div>
            {% if debug %}<p>{{ value }}</p>{% endif %}

            {% if value.configuration %}
                <form action="{% url 'dashboard-layout-delete-widget' layout.id %}" method="post" style="margin-bottom: 40px;">
                    {% csrf_token %}
                    <input type="hidden" name="widgetid" value="{{ key }}">
                    <input type="submit" value="Delete this widget">
                </form>
                <div style="height: calc({{ value.design.h }}*100%/4); width: calc({{ value.design.w }}*100%/6);
                        border: solid 1px black; box-sizing: border-box;">
                    <div id="widget-{{ key }}" style="height: 100%; width: 100%; background-color: white;"></div></div>
            {% else %}
                <select id="widget-{{ key }}" class="widget">
                    <option value="" selected disabled>Select a widget</option>
                    <option value="station_board">Train Stations</option>
                    <option value="weather">Weather</option>
                    <option value="traffic_map">Traffic Map</option>
                    <option value="twitter_timeline">Twitter timeline</option>
                    <option value="message_area">Message Area</option>
                </select>
                <div class="container-form"></div>
            {% endif %}
        </div>
    {% endfor %}
    <form action="{% url 'dashboard-layout-config' layout.id %}" method="post" id="config-form" style="margin-bottom: 40px;">
        {% csrf_token %}
        <input type="hidden" name="data" id="form-data">
        <input type="submit" value="Save configuration" id="submit-form-data">
    </form>
    <script>
        autogeneratedforms = {};
        $(".widget").change(function (e) {
            var widget_name = $(e.currentTarget).val();
            $.get('{% static 'dashboard/widgets' %}/'+widget_name+'/'+widget_name+'_schema.json',
                function ( data ) {
                autogeneratedforms[e.currentTarget.id] = brutusin["json-forms"].create(data);
                $(e.currentTarget).next().empty();
                autogeneratedforms[e.currentTarget.id].render($(e.currentTarget).next()[0]);
            });
        });
        $('#config-form').submit(function (e) {
            var forms_valid = true;
            var data = {};
            Object.keys(autogeneratedforms).forEach(function(key) {
                if (autogeneratedforms[key].validate() === false) {
                    forms_valid = false;
                }
                data[key] = {};
                data[key]["widget"] = $('#'+key).val();
                data[key]["data"] = autogeneratedforms[key].getData();
            });
            if (forms_valid === false) {
                e.preventDefault();
            } else {
                $('#form-data').val(JSON.stringify(data));
            }
        });

        var widget = [];
        {% for key, value in confdata.items %}
            {% if value.configuration %}
            widget.push(new {{ value.configuration.widget|title|remove_underscore }}('widget-{{ key }}',
                {{ value.configuration.data|safe }}));
            {% endif %}
        {% endfor %}

        $().ready(function () {
            for (var i = 0; i < widget.length; i++)
                if ('init' in widget[i])
                    widget[i].init();
        });

    </script>
</body>
</html>
