.widget {
    background-color: #fff;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.edit {
    display: inline;
}

.edit-mode .edit {
    display: none;
}

.done, .delete {
    display: none;
}

.edit-mode .done, .edit-mode .delete {
    display: inline;
}

.list-icon {
    width: 40px;
}

.config-area {
    height: 100%;
    width: 100%;
}

.default {
    font-weight: bold;
}

.first-time {
    padding: 1rem;
}