.widget {
    background-color: #fff;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.config-data {
    border: 1px solid black;
    height: 200px;
    width: 100%;
}

.panels-edit {
    display: inline;
}

.edit-mode .panels-edit {
    display: none;
}

.panels-done, .item-delete {
    display: none;
}

.edit-mode .panels-done, .edit-mode .item-delete {
    display: inline;
}

.list-icon {
    width: 40px;
}

.config-area {
    height: 100%;
    width: 100%;
}
