.page .background {
    background-color: #fff;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.edit {
    display: inline;
}

.edit-mode .edit {
    display: none;
}

.done, .delete {
    display: none;
}

.edit-mode .done, .edit-mode .delete {
    display: inline;
}

.list-icon {
    width: 40px;
}

.default {
    font-weight: bold;
}

.config-area {
    height: 100%;
    width: 100%;
}

.config-area ons-select {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
    width: 70%;
}

.first-page {
    height: 100%;
    padding: 1em;
}

.first-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
}

.first-page ons-button {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.tcs {
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
