{% extends "template.html" %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% endblock %}
{% block content %}
    <div style="height: 80vh;">
        <div id="title" style="height: 5%; width: 100%;">Car Parks</div>
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>
        // could use 'Area' concept here
        var map = L.map('map').setView([52.2038, 0.1207], 13);
        var mapMarkers = [];
        var busIcon = L.icon({
            iconUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/2000px-Bus-logo.svg.png',
            iconSize: [30, 30]
        });

        // ********************************************************************************
        // *************  Parking list info provided by server ****************************
        // ********************************************************************************
        
        var parking_list = JSON.parse( '{{ config_parking_list|escapejs }}');
        
        // ********************************************************************************
        // *************  end of server parking list info      ****************************
        // ********************************************************************************
        
        for ( var i = 0; i < parking_list["request_data"]["parking_list"].length; i++) {
                var marker = L.marker([ parking_list["request_data"]["parking_list"][i]["latitude"],
                                        parking_list["request_data"]["parking_list"][i]["longitude"]
                                      ],
                                      {icon: busIcon})
                        .addTo(map)
                        .bindPopup( 'Car Park: ' +
                                    parking_list["request_data"]["parking_list"][i]["parking_name"]
                                  );
                mapMarkers.push(marker);
        }

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });

    </script>
{% endblock %}
