{% extends "base.html" %}
{% load static %}
{% block head %}
    {% include 'leaflet_snippet.html' %}
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'nouislider.min.css' %}" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .noUi-horizontal .noUi-tooltip {
            bottom: -40px;
        }
    </style>
{% endblock %}
{% block inner_content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h3 style="margin-left: 20px; margin-bottom: 10px;">Traffic flow</h3>
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" style="margin-bottom: 40px;">
            <div id="map" style="height: 75vh; width: 100%; min-height: 500px;"></div>
            <div id="slider-date" class="noUi-target noUi-ltr noUi-horizontal" style="margin: 10px 50px"></div>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <p style="margin-bottom: 30px">
                This map shows the transit flow for each one of the traffic cameras in the map. When a camera is clicked,
                the map shows all the transit that has as an origin the camera selected and has as a destination any other
                of the cameras shown in the map. The width of the line indicates how much flow there is between cameras.
                The flow indicate the end to end trip for each one of the vehicles detected, meaning that all detections
                from different cameras are shown.
                <img src="{% static 'images/camera.png' %}" style="width: 20px;height: 20px;"> ANPR Camera
                <img src="{% static 'images/camera_origin_selected.png' %}" style="width: 20px;height: 20px;"> ANPR Origin Camera
                <img src="{% static 'images/camera_destination_selected.png' %}" style="width: 20px;height: 20px;"> ANPR Destination Camera
                <br>
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="from-to-switch">
                    <input type="checkbox" id="from-to-switch" class="mdl-switch__input">
                    <span class="mdl-switch__label">From / To</span>
                </label>
            </p>
            <div id="chart" style="width: 100%;">
                <svg></svg>
            </div>
        </div>
    </div>
    <script>
        var map = L.map('map').setView({{ mapcenter|default:"[52.205, 0.119], 13" }});
        var info_map = L.control();
        var urlparams = new URLSearchParams(window.location.search);
        var dateSlider;
        var trips = JSON.parse('{{ trips|safe }}');
        var stats = JSON.parse('{{ stats|safe }}');
        var total_stats = JSON.parse('{{ total_stats|safe }}');
        var trip_convinations = {};
        var camera_origin_selected;
        var camera_destination_selected;
        var cameras = {{% for camera in cameras %}
            "{{ camera.id }}": {
                "lat": "{{ camera.lat }}",
                "lng": "{{ camera.lng }}"
            },
        {% endfor %}};
        var current_time = timestamp('2017-06-11 08:00 GMT');

        var cameraIcon = L.icon({
            iconUrl: '{% static 'images/camera.png' %}',
            iconSize: [20, 20]
        });

        var cameraOriginSelectedIcon = L.icon({
            iconUrl: '{% static 'images/camera_origin_selected.png' %}',
            iconSize: [20, 20]
        });

        var cameraDestinationSelectedIcon = L.icon({
            iconUrl: '{% static 'images/camera_destination_selected.png' %}',
            iconSize: [20, 20]
        });

        /************* This is the code of the stats graph *****************/
        function statsdata() {
            var statsdata = [];
            var i;
            if (stats.length !== 0) {
                var legend_text;
                if (camera_destination_selected !== undefined)
                    legend_text = 'Traffic between selected cameras';
                else
                    legend_text = 'Traffic from selected camera';
                statsdata.push(['Date and Time', legend_text]);
                for (i = 0; i < total_stats.length; i++) {
                    statsdata.push([new Date(total_stats[i].time), stats[i].num]);
                }
            } else {
                statsdata.push(['Date and Time', 'Traffic from all cameras']);
                for (i = 0; i < total_stats.length; i++) {
                    statsdata.push([new Date(total_stats[i].time), total_stats[i].num]);
                }

            }
            return statsdata;
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(statsdata());
            var options = {
                title: 'Traffic on ' + new Date(current_time * 1000).toDateString(),
                curveType: 'function',
                legend: { position: 'bottom' },
                vAxis: { minValue: 0 }
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(data, options);
        }
        /******* This is the END of the stats code for the graph **********/

        function clearMap() {
            var i;
            for(i in map._layers) {
                if(map._layers[i]._path !== undefined) {
                    try {
                        map.removeLayer(map._layers[i]);
                    }
                    catch(e) {
                        console.log("problem with " + e + map._layers[i]);
                    }
                }
            }
        }

        function drawFlow() {
            trip_convinations = {};
            var from = document.getElementById("from-to-switch").checked;
            var z, key, ti, tei;
            if (camera_origin_selected !== undefined) {
                for (var i = 0; i < trips.length; i++) {
                    // From the camera selected (we have to discard previous trip)
                    // The index should start from where the camera selected is in the trip
                    ti = trips[i].chain_vector.indexOf(camera_origin_selected.options['cameraid']);
                    if (camera_destination_selected !== undefined) {
                        // The index should end at position the destination camera selected is in the trip
                        tei = trips[i].chain_vector.indexOf(camera_destination_selected.options['cameraid']);
                        if ((ti > -1) && (tei > -1) && (tei > ti)) {
                            for (z = ti; z < tei; z++) {
                                key = trips[i].chain_vector[z] + "," + trips[i].chain_vector[z + 1];
                                if (key in trip_convinations)
                                    trip_convinations[key]++;
                                else
                                    trip_convinations[key] = 1;
                            }
                        }
                    } else {
                        if (ti > -1) {
                            if (from === false) {
                                for (z = ti; z < trips[i].chain_vector.length - 1; z++) {
                                    key = trips[i].chain_vector[z] + "," + trips[i].chain_vector[z + 1];
                                    if (key in trip_convinations)
                                        trip_convinations[key]++;
                                    else
                                        trip_convinations[key] = 1;
                                }
                            } else {
                                for (z = 0; z <= ti - 1; z++) {
                                    key = trips[i].chain_vector[z] + "," + trips[i].chain_vector[z + 1];
                                    if (key in trip_convinations)
                                        trip_convinations[key]++;
                                    else
                                        trip_convinations[key] = 1;
                                }
                            }
                        }
                    }
                }
            }
            clearMap();

            Object.keys(trip_convinations).forEach(function(key) {
                var camerasi = key.split(",");
                var camera1 = parseInt(camerasi[0]);
                var camera2 = parseInt(camerasi[1]);
                {#console.log(camera1 + " - " + camera2);#}
                if (camera1 !== 35 && camera2 !== 35 && camera1 !== 96 && camera2 !== 96) {
                    var latlngs = [
                        [cameras[camera1].lat, cameras[camera1].lng],
                        [cameras[camera2].lat, cameras[camera2].lng]
                    ];
                    L.polyline(latlngs, {weight: trip_convinations[key], opacity: 0.5, lineCap: "butt"}).addTo(map);
                }
            });
        }

        function cameraMarkerOnClick(e) {
            {# There is an origin camera selected #}
            if (camera_origin_selected !== undefined) {
                {# User is deactivating the origin camera so we deselect origin and destiny #}
                if (camera_origin_selected === e.target) {
                    {# If it was a destiantion camera selected revert its icon back to normal #}
                    if (camera_destination_selected !== undefined) {
                        camera_destination_selected.setIcon(cameraIcon);
                        camera_destination_selected = undefined;
                    }
                    camera_origin_selected.setIcon(cameraIcon);
                    camera_origin_selected = undefined;
                } else {
                    if (camera_destination_selected !== undefined) {
                        camera_destination_selected.setIcon(cameraIcon);
                        if (camera_destination_selected === e.target) {
                            camera_destination_selected = undefined;
                        } else {
                            camera_destination_selected = e.target;
                            camera_destination_selected.setIcon(cameraDestinationSelectedIcon);
                        }
                    } else {
                        camera_destination_selected = e.target;
                        camera_destination_selected.setIcon(cameraDestinationSelectedIcon);
                    }
                }
                {# User is selecting a new destination camera #}
            } else {
                {# There isn't any origin camera selected #}
                camera_origin_selected = e.target;
                camera_origin_selected.setIcon(cameraOriginSelectedIcon);
            }
            retrieve_flowdata();
        }

        function retrieve_flowdata() {
            var camera_origin_id = camera_origin_selected && camera_origin_selected.options &&
                camera_origin_selected.options.cameraid || "";
            var camera_destination_id = camera_destination_selected && camera_destination_selected.options &&
                camera_destination_selected.options.cameraid || "";
            if (camera_destination_id !== "") {
                camera_destination_id = "&camera_destination_id=" + camera_destination_id;
            }
            if (camera_origin_id !== "") {
                camera_origin_id = "&camera_origin_id=" + camera_origin_id;
            }
            var url = '{% url 'anpr_map_json' %}?datetime=' + current_time.toString() + camera_origin_id +
                camera_destination_id;
            $.ajax({
                url: url,
                dataType: 'application/json',
                beforeSend: function(){
                    dateSlider.setAttribute('disabled', true);
                },
                complete: function (data) {
                    dateSlider.removeAttribute('disabled');
                    trips = JSON.parse(data.responseText)['trips'];
                    stats = JSON.parse(data.responseText)['stats'];
                    total_stats = JSON.parse(data.responseText)['total_stats'];
                    drawFlow();
                    drawChart();
                }
            });
        }

        // Create a new date from a string, return as a timestamp.
        function timestamp(str) {
            return new Date(str).getTime()/1000;
        }

        // Create a string representation of the date.
        function formatDate(idate) {
            var date = new Date(+idate*1000);
            return date.toGMTString();
        }

        $(document).ready(function() {
            L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            Object.keys(cameras).forEach(function(key) {
                L.marker([cameras[key].lat, cameras[key].lng], {"icon": cameraIcon, "cameraid": key}).addTo(map).on('click', cameraMarkerOnClick);
            });

            /************* This is the START of the date slider code **************/
            dateSlider = document.getElementById('slider-date');

            noUiSlider.create(dateSlider, {
                // Create two timestamps to define a range.
                range: {
                    min: timestamp('2017-06-11 00:00'),
                    max: timestamp('2017-06-18 00:00')
                },

                // Steps of one hour
                step: 60 * 60,

                // Two more timestamps indicate the handle starting positions.
                start: [timestamp('2017-06-11 08:00')],

                tooltips: [true],

                format: { to: formatDate, from: Number }
            });

            dateSlider.noUiSlider.on('set', function (values, handle) {
                current_time = timestamp(values[0]);
                retrieve_flowdata();
            });
            /************* This is the END of the date slider code **************/

            drawChart();
        });

        $(window).resize(function(){
            drawChart();
        });

        $('#from-to-switch').change(function(){
            drawFlow();
        })
    </script>
{% endblock %}
