{% extends "base.html" %}
{% load static %}
{% block title %}Traffic{% endblock %}
{% block mobile_title %}Traffic{% endblock %}

{% block content %}
        <div class="cards-section">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">Traffic Information</div>
            <div class="card-container mdl-grid">
                <!-- ZONES MAP -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/map_640x426.png' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Zone map</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">View clickable map of monitored traffic zones</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'zones_map' %}">
                            zone map
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <!-- ZONES LIST -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/zone_list_640x426.png' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Zone list</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">View list of monitored traffic zones</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'zones_list' %}">
                            zone list
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <!-- BTJOURNEY MAP -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/map_640x426.png' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">BT Journey map</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">View clickable map of bluetooth-monitored journey times</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'btjourney_map' %}">
                            btjourney map
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <!-- BTJOURNEY LIST -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/btjourney_list_640x426.png' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">BT Journey list</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">View list of available BT Journey point-to-point links and compound routes</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'btjourney_list' %}">
                            link list
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <!-- ANPR MAP -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/anpr.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Traffic flow experiment</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Traffic experiment performed in June 2017 using Automatic Number Plate Recognition Cameras (ANPR)</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'anpr_map' %}">
                            traffic flow map
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
