{% extends "template.html" %}
{% load static %}
{% block title %}Traffic Zone{% endblock %}
{% block page_title %}Traffic Zone <span id="page_title"></span>{% endblock %}
{% block mobile_title %}Traffic Zone <span id="mobile_title"></span>{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}
    
{% block content %}
    <div style="height: 80vh;">
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>

        // ********************************************************************************
        // *************  Zone config info provided by server ****************************
        // ********************************************************************************

        var zone;
        try {
            zone = (JSON.parse( '{{ config_zone_config|escapejs }}' ))['request_data']['options']['config'];
        } catch (error) {
            zone = {};
        }
        // ********************************************************************************
        // *************  end of server zone list info         ****************************
        // ********************************************************************************

        // Draw map
        var map = L.map('map').setView([52.2038, 0.1207], 13);

        // Draw zone outline polygon

        var path = [];

        for (var j=0; j < zone['zone.path'].length; j++)
        {
            var latlng = zone['zone.path'][j];

            var point = [ latlng['lat'], latlng['lng'] ];
            path.push(point);   // add point to polygon for current zone
        }

        var ZONE_PLOT_URL = "{% url 'zone_transit_plot' config_zone_id %}";
        
        var poly = L.polygon(path);
        poly
            .bindPopup(zone['zone.name']+'<br/>'+
                       '<a href="'+ZONE_PLOT_URL+'">Transit Plot</a>'
                      )
            .addTo(map)
            .openPopup();

        // Draw zone start/finish lines

        var start_line = [path[0], path[1]];
        L.polyline(start_line, {color: 'green'}).addTo(map);

        var finish_index = zone['zone.finish_index'];
        var finish_line = [path[finish_index], path[finish_index+1]];
        L.polyline(finish_line, {color: 'red'})
            .addTo(map);

        // adjust map bounds
        map.fitBounds(poly.getBounds());

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });

    </script>
{% endblock %}
