{% extends "template.html" %}
{% load static_new %}
{% block page_title %}  <span id="page_title_zone_name"></span> Journey Times</span>{% endblock %}
{% block mobile_title %}Transit Plot <span id="mobile_title_zone_name"></span>{% endblock %}


{% block head %}
<!--
file:   tfc_web/traffic/templates/zone_transit_plot.html (a Django template)
author: Ian Lewis ijl20@cam.ac.uk
date:   2016-12-12

This page is pre-populated with JSON data from the TFC api's for zone CONFIG and TRANSIT data,
from which it will draw a transit time chart for the selected day.

Example zone config data:
{
  "module_id": "vix",
  "module_name": "dataserver"
  "request_data":
    {
      "latitude": 52.2038,
      "longitude": 0.1207,
      "capacity": 890,
      "parking_name": "Grand Arcade",
      "parking_id": "grand-arcade-car-park",
      "feed_id": "cam_park_local"
    }
}

Example occupancy data:
{
  "module_id": "vix",
  "module_name": "dataserver"
  "request_data":
    [
      {
        "msg_type": "feed_car_parks",
        "spaces_capacity": 953,
        "module_id": "cam",
        "spaces_occupied": 77,
        "spaces_free": 876,
        "filename": "1480291423_2016-11-28-00-03-43",
        "area_id": "cam",
        "ts": 1480291423,
        "module_name": "feedmaker",
        "filepath": "2016/11/28",
        "parking_name": "Grand Arcade",
        "parking_id": "grand-arcade-car-park",
        "feed_id": "cam_park_local"
      },
      ...
    ]
}
-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- load the d3 library for the chart plot -->
    <script src="{% static 'd3/d3.v3.min.js' %}" charset="utf-8"></script>
    
    <style>
      
#page_date {
  font-size: 22px;
  margin: 5px 10px 10px 5px;
  display: inline-block;
}

#content_title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 5px 10px 20px;
}

#heading_date {
  display: inline-block;
  width: 8em;
}

.time_shift {
  display: inline-block;
}

#chart {
    width: 95vw;
    height: calc(100vh - 250px);
    margin: 5px 5px 5px 10px;
}

.plot_svg {
  background-color: AliceBlue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #707070;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 400px;
  /* height: 28px; */
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.error {
  color: red;
  display: inline-block;
}

.tick {
  stroke: #222;
}

.grid {
  stroke: #555;
  opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

.capacity_line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

</style>
    
<script type="text/javascript">

//********************************************************************************
//***********  LOAD VARS FROM SERVER    ******************************************
//********************************************************************************

var YYYY = {{config_yyyy}}; // Year e.g. 2016
var MM = {{config_MM}};     // Month e.g. 07 = July
var DD = {{config_dd}};     // day e.g. 23

var YYYYMMDD = '{{config_yyyy}}/{{config_MM}}/{{config_dd}}';
//********************************************************************************
//********************************************************************************
var zone = {};
try {        
      zone = (JSON.parse( '{{ config_zone_config|escapejs }}' ))['request_data']['options']['config'];
} catch (error)
{
  console.log('Failed to get zone config data from server');
}

// ********************************************************************************
// *************  end of server zone config info         ****************************
// ********************************************************************************

var plot_date; // date of currently displayed plot (initialized from YYYY/MM/DD)

var plot_date_minus_1; // plot_date - 1 day
var plot_date_plus_1; // plot_date + 1 day

var month_of_year = new Array("spacer", "Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
var day_of_week = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");

// d3 scatterplot parameters
var chart_svg;    // chart svg element
var chart_xScale; // d3 scale fn for x axis
var chart_xAxis;  // x axis
var chart_xValue; // value for x axis selected from current data object (i.e. timestamp)
var chart_xMap;   // fn for x display value
var chart_yScale;
var chart_yAxis;
var chart_yValue;
var chart_yMap;
//var chart_cValue; // value from current data point to determine color of circle (i.e. route_id)
var chart_color;  // color chosen for current circle on scatterplaot
var chart_tooltip;

// time of day for scatterplot to start/end
var CHART_START_TIME = 0; // start chart at midnight
var CHART_END_TIME = 24;  // end chart at midnight

var CHART_DOT_RADIUS = 6; // size of dots on scatterplot
var CHART_Y_MAX = 1000; // FIX limit of Y axis

// **********************************************
// Initialize this page (called in body:onload())
// **********************************************

function init()
{
    document.title = 'Transit Plot';

    // make ?noframe adjustments to content
    if (window.location.href.indexOf('?noframe') > 0 || window.location.href.indexOf('&noframe') > 0)
    {
        document.getElementById('content_title').innerHTML = zone['zone.name'];
        document.getElementById('chart').style.height = "calc(100vh - 80px)";
    }
    // embed zone name into page
    try {
        document.getElementById('page_title_zone_name').innerHTML = zone['zone.name'];
        document.getElementById('mobile_title_zone_name').innerHTML = zone['zone.name'];
    }
    catch(err)
    {
        document.getElementById('page_title_zone_name').innerHTML = '<div class="error">Unrecognised Zone</div>';
        document.getElementById('mobile_title_zone_name').innerHTML = '<div class="error">Unrecognised Zone</div>';
    }

    chart_day_start_ts = 0; // initially set start-time boundary of chart to distant past

    plot_date = new Date(YYYY,MM-1,DD); // as loaded in page template config_ values;

    var today = new Date();

    // test if YYYY/MM/DD is TODAY'S DATE
    if (today.getFullYear()==YYYY && today.getMonth()==(MM-1) && today.getDate()==DD)
    {
      console.log('plotting today - reloading in 6 minutes');
      setTimeout( function () { location.reload(); }, 6 * 60 * 1000 );
    }

    var heading_date = document.getElementById('heading_date');

    heading_date.textContent = day_of_week[plot_date.getDay()] + " " + DD + " " + month_of_year[MM] + " " + YYYY;

    var rita_data = new Array();

    try {
        // **********************************************************************************
        // **********  Here is where we load the transit plot data    ***********************
        // **********************************************************************************
        var transits_data = JSON.parse('{{ config_zone_data|escapejs }}');

        // ********************************************************************************
        // *************  Zone config info provided by server ****************************
        // ********************************************************************************

        if (!transits_data)
        {
            console.log('no transit data received');
        }
        else
        {
            rita_data = transits_data.request_data;
            console.log('rita_data.length is '+rita_data.length);
        }
    } catch(err) {
        console.log('error parsing config_zone_data');
        rita_data = new Array();
    }

    console.log('Received '+rita_data.length+' records');

    // set up layout / axes of scatterplot
    init_chart();

    if (rita_data.length > 0)
    {
      console.log('init calling draw_chart()');

      // draw chart with the data embedded by the template into rita_data
      draw_chart(rita_data);
    }
}

// ******************************************                                                
// Initialize the chart to appear on the page
// - not yet with any data
// ******************************************
function init_chart()
{
      // get the height and width of the "chart" div, and set d3 svg element to that
      var svg_width = document.getElementById("chart").clientWidth;
      var svg_height = document.getElementById("chart").clientHeight;

      // calculate the dimensions of the actual chart within the SVG area (i.e. allowing margins for axis info)
      var chart_width = svg_width - 110;
      var chart_height = svg_height - 110;
      var chart_offsetx = 60;
      var chart_offsety = 20;

    // add the graph canvas to the body of the webpage
    chart_svg = d3.select("#chart").append("svg")
        .attr("width", svg_width)
        .attr("height", svg_height)
        .attr("class", "plot_svg")
        .append("g")
        .attr("transform", "translate(" + chart_offsetx + "," + chart_offsety + ")");

    // setup x axis
    chart_xScale = d3.time.scale().range([0, chart_width]); // value -> display
    
    var tick_count = 24;
    if (chart_width < 600)
        tick_count = 12;
    
    chart_xAxis = d3.svg.axis().scale(chart_xScale).orient("bottom").ticks(tick_count);

    // setup y axis
    chart_yScale = d3.scale.linear().range([chart_height, 0]); // value -> display
    chart_yAxis = d3.svg.axis().scale(chart_yScale).orient("left").ticks(10);

    // setup chart functions where d = the zone transit record
    chart_xValue = function(d) { return new Date(d.ts*1000);}; // data -> value
    chart_xMap = function(d) { return chart_xScale(chart_xValue(d));}; // data -> display

    chart_yValue = function(d) { return d.duration;}, // data -> value
    chart_yMap = function(d) { return chart_yScale(Math.min(chart_yValue(d), CHART_Y_MAX));}; // data -> display

    // setup fill color
    //chart_cValue = function(d) { return d.route_id; },
    chart_color = function (d) {
        if (d.duration > CHART_Y_MAX)
        {
          return 'red';
        }
        return d.route_id=="" ? 'gray' : 'yellow';
    };

    // initialize x axis - will redraw when data received
    var min_date = new Date(YYYY,MM-1,DD);
    min_date.setHours(CHART_START_TIME);
    min_date.setMinutes(0);
    min_date.setSeconds(0);

    var max_date = new Date(min_date);
    max_date.setHours(CHART_END_TIME);

    chart_xScale.domain([min_date, max_date]);
    chart_yScale.domain([0, CHART_Y_MAX]);

    // x-axis
    chart_svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + chart_height + ")")
      .call(chart_xAxis
            .tickSize(-chart_height, 0, 0)
            .tickFormat(d3.time.format("%H"))
       )
      .attr("class", "grid")
      .append("text")
      .attr("class", "label")
      .attr("x", chart_width)
      .attr("y", 26)
      .style("text-anchor", "end")
      .text("Time of day");

    // y-axis
    chart_svg.append("g")
      .attr("class", "y axis")
      .call(chart_yAxis
            .tickSize(-chart_width, 0, 0)
            //.tickFormat("")
      )
      .attr("class", "grid")
      .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", -50)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Journey Time (seconds)");

    // add the tooltip area to the webpage
    chart_tooltip = d3.select("#chart").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);
    
}

// ****************************************************************************
// *********  Update the chart with transit data        ***********************
// ****************************************************************************
function draw_chart(rita_data)
{
    console.log('Drawing chart size='+rita_data.length);

    // do nothing if no data is available
    if (rita_data.length == 0) return;


    /*
     * value accessor - returns the value to encode for a given data object.
     * scale - maps value to a visual display encoding, such as a pixel position.
     * map function - maps from data value to display value
     * axis - sets up axis
     */


      // don't want dots overlapping axis, so add in buffer to data domain
      var min_date = d3.min(rita_data, chart_xValue);
      min_date.setHours(CHART_START_TIME);
      min_date.setMinutes(0);
      min_date.setSeconds(0);

      var max_date = new Date(min_date);
      max_date.setHours(CHART_END_TIME);

      chart_xScale.domain([min_date, max_date]);
      // chart_yScale.domain([0, d3.max(rita_data, chart_yValue)+1]);
      // debug y-scale hardcoded to CHART_Y_MAX so charts are comparable
      chart_yScale.domain([0, CHART_Y_MAX]);

      chart_svg.select(".x.axis").call(chart_xAxis);
      chart_svg.select(".y.axis").call(chart_yAxis);

      chart_svg.selectAll(".dot")
          .remove();

      // draw dots
      chart_svg.selectAll(".dot")
          .data(rita_data)
          .enter().append("circle")
          .attr("class", "dot")
          .attr("r", CHART_DOT_RADIUS)
          .attr("cx", chart_xMap)
          .attr("cy", chart_yMap)
          .style("fill", function(d) { return chart_color(d); })
          .on("mouseover", function(d) {
              chart_tooltip.transition()
                   .duration(500)
                   .style("opacity", 0);
              chart_tooltip.transition()
                   .duration(200)
                   .style("opacity", .9);
              chart_tooltip.html("Zone: "+d.module_id+
                                 "<br/>Route: "+d.route_id+
                                 "<br/>Vehicle:"+d.vehicle_id +
                                 "<br/>Transit time (secs):"+d.duration +
                                 "<br/>Time:" + new Date(d.ts*1000))
                   .style("left", (d3.event.pageX + 5) + "px")
                   .style("top", (d3.event.pageY - 28) + "px");
          })
          .on("mouseout", function(d) {
              chart_tooltip.transition()
                   .duration(500)
                   .style("opacity", 0);
          });

      // add text for latest datapoint
    
      var p = rita_data[rita_data.length - 1];

      chart_svg.append("svg:rect")
          .attr('x', chart_xMap(p)+CHART_DOT_RADIUS+4)
          .attr('y', chart_yMap(p)-27)
          .attr('width', 140)
          .attr('height', 36)
          .attr('rx', 6)
          .attr('ry', 6)
          .style('fill', 'white')

      var p_time = new Date(p.ts*1000);
      var p_time_str = ' @ '+('0'+p_time.getHours()).slice(-2)+':'+('0'+p_time.getMinutes()).slice(-2);
      chart_svg.append("svg:text")
          .attr('x', chart_xMap(p))
          .attr('y', chart_yMap(p))
          .attr('dx', CHART_DOT_RADIUS+10)
          .style('font-size', '22px')
          .style('fill', '#333')
          .text(p.duration+p_time_str);
    
} // end draw_chart

// ************************************************************************************
// ************** Date forwards / backwards function             *********************
// ************************************************************************************

// move page to new date +n days from current date
function date_shift(n)
{
    console.log('date_shift()');

    new_date = new Date(YYYY,MM-1,DD); // as loaded in page template config_ values;

    new_date.setDate(new_date.getDate()+n);

    new_year = new_date.getFullYear();
    new_month = ("0" + (new_date.getMonth()+1)).slice(-2);
    new_day = ("0" + new_date.getDate()).slice(-2);

    console.log(new_year+'-'+new_month+'-'+new_day);
    window.location.href = '?date='+new_year+'-'+new_month+'-'+new_day;
}

</script>
{% endblock %}
    
{% block content %}
<div id="content">
    <div id="chart_title">
      <div id="page_date">
        <div class="time_shift"><a href="#" onclick="date_shift(-7)">
            <img src="{% static 'images/chevron-left-left.png' %}"></a>
        </div>
        <div class="time_shift"><a href="#" onclick="date_shift(-1)">
            <img src="{% static 'images/chevron-left.png' %}"></a>
        </div>
        <div id="heading_date"></div>
        <div class="time_shift"><a href="#" onclick="date_shift(1);">
            <img src="{% static 'images/chevron-right.png' %}"></a>
        </div>
        <div class="time_shift"><a href="#" onclick="date_shift(7);">
            <img src="{% static 'images/chevron-right-right.png' %}"></a>
        </div>
      </div> <!-- end page_date -->
      <!-- content_title is alternative location for page title if ?noframe is given -->
      <div id="content_title">
      </div>
    </div> <!-- end chart_title -->

    <!-- Actual d3 plot is embedded in this "chart" div -->
    <div class="chart" id="chart">
    </div>

</div> <!-- end content -->
    
<script>
        $(document).ready(function() {
            init();
        });
</script>

{% endblock %}
