{% extends "template.html" %}
{% load static %}
{% block page_title %}Monitored Traffic Zones{% endblock %}
{% block title %}Traffic Zones{% endblock %}

{% block head %}
    {% include 'leaflet_snippet.html' %}
{% endblock %}
    
{% block content %}
    <div style="height: 80vh;">
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    <script>

        // ********************************************************************************
        // *************  Zone list info provided by server ****************************
        // ********************************************************************************
        
        var zone_list = (JSON.parse( '{{ config_zone_list|escapejs }}' ))['request_data']['zone_list'];
        
        // ********************************************************************************
        // *************  end of server zone list info         ****************************
        // ********************************************************************************

        // Draw map
        var map = L.map('map').setView([52.2038, 0.1207], 13);

        // Draw zones on map

        var points = []; // accumulate ALL polygon points in an array to determine required map bounds

        for ( var i = 0; i < zone_list.length; i++)
        {
            var zone = zone_list[i];

            // Skip this zone if zne_map is defined but not true
            if (zone.hasOwnProperty('zone_map') && !zone.zone_map) {
                continue;
            }

            // Draw zone outline polygon
                             
            var path = [];

            for (var j=0; j < zone['zone_path'].length; j++)
            {
                var latlng = zone['zone_path'][j];

                var point = [ latlng['lat'], latlng['lng'] ];
                path.push(point);   // add point to polygon for current zone
                
                points.push(point); // add point to list to use to set map bounds
            }
            var popup = '<b>' + zone.zone_name + '</b><br/>' +
                        '<ul>' +
                        '  <li>' +
                        '    <a href="{% url 'zone_map' 'PLACEHOLDER' %}">[Map]</a>'.replace('PLACEHOLDER', zone.zone_id) +
                        '    <a href="{% url 'zone_transit_plot' 'PLACEHOLDER' %}">[Journey times]</a>'.replace('PLACEHOLDER', zone.zone_id) +
                        '  </li>';
            if (zone.zone_reverse_id) {
                popup = popup +
                        '  <li>' +
                        '    <a href="{% url 'zone_map' 'PLACEHOLDER' %}">[Map]</a>'.replace('PLACEHOLDER', zone.zone_reverse_id) +
                        '    <a href="{% url 'zone_transit_plot' 'PLACEHOLDER' %}">[Journey times]</a>'.replace('PLACEHOLDER', zone.zone_reverse_id) +
                        ' (reverse)' +
                        '</li>';
            }
            popup = popup + '</ul>';
            L.polygon(path)
                .bindPopup(popup)
                .addTo(map);

            // Draw zone start/finish lines

            var start_line = [path[0], path[1]];
            L.polyline(start_line, {color: 'green'}).addTo(map);

            var finish_index = zone['zone_finish_index'];
            var finish_line = [path[finish_index], path[finish_index+1]];
            L.polyline(finish_line, {color: 'red'}).addTo(map);

        }                          

        // adjust map bounds
        map.fitBounds(L.polyline(points).getBounds());

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });

    </script>
{% endblock %}
