/* Styles for the stop_timetable widget */

.stop_timetable {
    height: 100%;
    padding: 0.5em;
    width: 100%;
}

.stop_timetable .content_area {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.stop_timetable .icon {
    text-align: right;
}

/* Custom layout for the 'simple' layout */

/* Custom styling for the 'nextbus' layout */

.stop_timetable h3 {
    margin-bottom: 0;
    margin-top: 0.6em;
}

.stop_timetable .nextbus table {
        margin-top: 0.3em;
}

/* Custom styling for the 'debug' layout */

.stop_timetable .seen {
    background-color: #dfd;
}

.stop_timetable_realtime {

    background-color: #88cc88;
}

/* Custom styling for the 'multiline' layout */

.stop_timetable table {
    max-width: 100%;
}

.stop_timetable .multiline td {
    border: none;       /* override lobby_screen.css default */
    padding: 0.1em 0.2rem;
}

.stop_timetable .multiline tr:first-child td {
    border-top: 1px solid #ddd;
    padding-top: 0.4rem;
}

.stop_timetable .multiline tr:last-child td {
    padding-bottom: 0.4rem;
}

.stop_timetable .multiline .via {
  font-size: 0.8rem;
}

.stop_timetable .multiline .timing {
  color: grey;
  font-size: 0.8rem;
}

.stop_timetable .multiline .expected {
    text-align: center;
}

.stop_timetable .multiline .line {
    text-align: center;
}

.stop_timetable .multiline .issue {
    background-color: transparent;
    color: red;
    font-size: 0.8rem;
}

.stop_timetable .multiline .together {
    white-space: nowrap;
}
