{% extends "base.html" %}
{% load static %}
{% block content %}
    <div style="padding: 20px;">
        <h1 class="mdl-typography--display-2 mdl-typography--font-thin">Find out more</h1>
        <ul class="mdl-typography--font-regular mdl-typography--text">
            <li style="font-size: 16px;">Smart Cambridge programme:
                <a class="mdl-typography--font-regular mdl-typography--text aqua-alt-link"
                   href="http://www.connectingcambridgeshire.co.uk/smart-cambridge/">www.connectingcambridgeshire.co.uk/smart-cambridge/</a>
            </li>
            <li style="font-size: 16px;">Smart Cambridge technology data:
                <a href="http://smartcambridge.org"
                   class="mdl-typography--font-regular mdl-typography--text aqua-alt-link">smartcambridge.org</a>
            </li>
            <li style="font-size: 16px;">Greater Cambridge City Deal projects:
                <a href="http://www.cambridgeshire.gov.uk/citydeal/smart"
                   class="mdl-typography--font-regular mdl-typography--text aqua-alt-link">www.cambridgeshire.gov.uk/citydeal/smart</a>
            </li>
            <li style="font-size: 16px;">Cambridgeshire Insight Open Data:
                <a href="http://opendata.cambridgeshireinsight.org.uk/"
                   class="mdl-typography--font-regular mdl-typography--text aqua-alt-link">opendata.cambridgeshireinsight.org.uk</a>
            </li>
        </ul>

        <h4 class="mdl-typography--display-1 mdl-typography--font-thin">Contact the Smart Cambridge Programme Team</h4>
        <ul class="mdl-typography--font-regular mdl-typography--text">
            <li style="font-size: 16px;">Call: <a href="tel:01223729079" class="aqua-alt-link">01223 729079</a></li>
            <li style="font-size: 16px;">Email: <a href="mailto:smart.cambridge@cambridgeshire.gov.uk" class="aqua-alt-link">smart.cambridge@cambridgeshire.gov.uk</a></li>
            <li style="font-size: 16px;">Twitter: <a class="aqua-alt-link" href="http://twitter.com/smartcamb">@SmartCamb</a> <a class="aqua-alt-link" href="https://twitter.com/GreaterCambs">@GreaterCambs</a></li>
        </ul>
    </div>
{% endblock %}