{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="smartCambridge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
    <script src="{% static 'mdl/material.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.8/dialog-polyfill.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.8/dialog-polyfill.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    {% block head %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block dialogs %}{% endblock %}
    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer has-drawer">
        <div class="header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <span class="title mdl-layout-title" style="display: inline-block;">
                    <a href="{% url 'home' %}" class="shared-block-inline"><img class="logo-image" src="{% static 'images/Smart-Cambridge-LOGO-WithByline.png' %}"></a>
                    <p class="mdl-typography--headline shared-block-inline">{% block page_title %}{% endblock %}</p>
                </span>
                <!-- Add spacer, to align navigation to the right in desktop -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <div class="navigation-container">
                    <nav class="navigation mdl-navigation">
                        {% block header_menu %}
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'csn-home' %}">CSN Home</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'forum:index' %}">Forum</a>
                        {% endblock %}
                        {% if user.is_authenticated %}
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'account_email' %}">Change E-mail</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'account_logout' %}">Sign Out</a>
                        {% else %}
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'account_login' %}">Sign In</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'account_signup' %}">Sign Up</a>
                        {% endif %}
                    </nav>
                </div>
                <span class="mobile-title mdl-layout-title">
                    <img class="logo-image" src="{% static 'images/Smart-Cambridge-LOGO-WithByline.png' %}">
                    <p class="mdl-typography--headline shared-block-inline">{% block mobile_title %}{% endblock %}</p>
                </span>
            </div>
        </div>


        <div class="drawer mdl-layout__drawer">
            {% if user.is_authenticated %}
            <header class="drawer-header">
                <div class="avatar-dropdown">
                    Hello <span>{{ user.username }}</span>
                </div>
            </header>
            {% endif %}
            <nav class="mdl-navigation">
                {% if not user.is_authenticated %}
                    <a class="mdl-navigation__link" href="{% url 'account_login' %}">Sign In</a>
                    <a class="mdl-navigation__link" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
                {% block navigation %}
                    <a class="mdl-navigation__link" href="{% url 'csn_applications' %}">Applications</a>
                    <a class="mdl-navigation__link" href="{% url 'csn_devices' %}">Devices</a>
                    <a class="mdl-navigation__link" href="{% url 'csn_network_info' %}">Network information</a>
                    <a class="mdl-navigation__link" href="{% url 'forum:index' %}">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums
                    </a>
                {% endblock %}
                {% if user.is_authenticated %}
                    <div class="drawer-separator"></div>
                    <a class="mdl-navigation__link" href="{% url 'account_email' %}">Change E-mail</a>
                    <a class="mdl-navigation__link" href="{% url 'account_logout' %}">Sign Out</a>
                {% endif %}
            </nav>
        </div>


        <div class="mdl-layout__content">
            {% block inner_content %}
                <div style="padding: 40px; max-width: 1044px; margin-left: auto; margin-right: auto;">
                {% block content %}{% endblock %}
                {% block body %}{% endblock %}
                {% block extra_body %}{% endblock %}
                </div>
            {% endblock %}
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--top-section">
                    <p class="mdl-typography--font-light">Smart Cambridge - Greater Cambridge City Deal</p>
                </div>

                <div class="mdl-mega-footer--middle-section">
                    <a href="http://www.gccitydeal.co.uk/citydeal/smart"><img class="footer-logo" src="{% static 'images/logo_gccd_112.png' %}"></a>
                    <a href="http://www.connectingcambridgeshire.co.uk/smartcamb/"><img class="footer-logo" src="{% static 'images/logo_cc_112.png' %}"></a>
                    <a href="http://www.cam.ac.uk/"><img class="footer-logo" src="{% static 'images/logo_uc_112.png' %}"></a>
                </div>

                <div class="mdl-mega-footer--bottom-section">
                </div>
            </footer>
        </div>
    </div>
    {% if messages %}
        <script>
            function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
            r(function(){
                var notification = document.querySelector('.mdl-js-snackbar');
                {% for message in messages %}
                    notification.MaterialSnackbar.showSnackbar({
                        message: '{{ message }}'
                    });
                {% endfor %}
            });
        </script>
    {% endif %}
    {% block lazy_script %}{% endblock %}
</body>
</html>