{% extends "template.html" %}
{% block content %}
    <h1>{{ bus_line.line_name }}</h1>
    <h2>{{ bus_line.description }}</h2>
    <h3>Route</h3>
    {% for route in bus_line.routes.all %}
        <p>
            <h4>{{ route.description }}</h4>
            <p><a href="{% url 'bus-route-map' route.id %}">View in Map</a></p>

            <div style="overflow-x: scroll;">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right: auto;">
                  <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        {% for stop in route.get_stops_list %}
                            <th class="mdl-data-table__cell--non-numeric"><a href="{% url 'bus-stop' stop.atco_code %}">{{ stop }}</a></th>
                        {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for journey in route.get_all_vehicle_journeys|slice:"2:-2" %}
                        <tr>
                            <td>{{ journey.days_of_week }}</td>
                            {% for timetable in journey.timetable %}
                                <td class="mdl-data-table__cell--non-numeric">{{ timetable.time }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </p>
    {% endfor %}

    <script>
        $("table").each(function () {
            var $this = $(this);
            var newrows = [];
            $this.find("tr").each(function () {
                var i = 0;
                $(this).find("td,th").each(function () {
                    i++;
                    if (newrows[i] === undefined) {
                        newrows[i] = $("<tr></tr>");
                    }
                    newrows[i].append($(this));
                });
            });
            $this.find("tr").remove();
            $.each(newrows, function () {
                $this.append(this);
            });
        });
    </script>
{% endblock %}
