{% extends "template.html" %}
{% load static %}
{% block content %}
    <ul id="bus-line-list" class='mdl-list'>
        <span class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="bus-line-search-box" onkeyup="searchFunction('bus-line-search-box', 'bus-line-list')">
                <label class="mdl-textfield__label">Search a bus stop...</label>
            </div>
        </span>
    {% for bus_line in bus_lines %}
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-list__item-avatar">
                    <img src="{% static 'images/bus-stop-icon.svg' %}" style="width: 70px; margin-left: -16px; margin-top: -19px;">
                </i>
            </span>
            <span>
                <a href="{% url 'bus-line' bus_line.id %}">{{ bus_line.line_name }} - {{ bus_line.description }}</a>
            </span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
