{% extends "template.html" %}
{% block content %}
    <h1>{{ bus_line.line_name }}</h1>
    <h2>{{ bus_line.description }}</h2>
    <h3>Route</h3>
    {% for route in bus_line.routes.all %}
        <p>
            <h4>{{ route.description }}</h4>
            {% for stop in route.get_stops_list %}
                <a href="{% url 'bus-stop' stop.atco_code %}">{{ stop.common_name }}</a> -
            {% endfor %}
            <h5><a href="{% url 'bus-route-map' route.id %}">View in Map</a></h5>
            <h6><a href="{% url 'bus-route-timetable' route.id %}">View Timetable</a></h6>
        </p>
    {% endfor %}
{% endblock %}
