{% extends "template.html" %}
{% load static %}
{% block content %}
        <div class="header">
            <img class="left_logo" src="images/logo_sc_112.png">
            <a href="http://www.gccitydeal.co.uk/citydeal/smart"><img class="right_logo" src="images/logo_gccd_112.png"></a>
        </div>

        <div>
            <p>The Smart Cambridge team is working together with a wide range of technology businesses to
            provide a 'digital' platform to support the transport infrastructure investments
            taking place in our region. This work is supported by the Connecting Cambridgeshire
            and Greater Cambridge City Deal partnerships, and this website is where the technology
            will emerge.</p>
            <p>
                More information about the Smart Cambridge programme can be found on
                <a href="http://www.connectingcambridgeshire.co.uk/smartcamb/">the Connecting Cambridgeshire website</a>.
            </p>
        </div>

        <div class="cards-section">
            <div class="card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/photos/trumpington_pr2.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Buses</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Live buses</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/photos/traffic.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Traffic</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Live and historical traffic data</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'traffic_home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/photos/miltonparkandride.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Car Parking</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">See data on the main car parks</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'parking_home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/photos/aq_640x413.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Air Quality</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">See data from air quality sensors
                        placed all over Cambridge</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/aq">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/sc_640x426.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">About</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Who we are, what are we doing</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/about">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
