{% extends "template.html" %}
{% load static %}
{% block content %}
        <div class="presentation-band">
            <div class="presentation-band-text">
                <div class="mdl-typography--display-2 mdl-typography--font-thin">Smart Cambridge</div>
                <p class="mdl-typography--subhead mdl-typography--font-thin">
                    The Smart Cambridge team is working together with a wide range of technology businesses to
                    provide a 'digital' platform to support the transport infrastructure investments
                    taking place in our region. This work is supported by the Connecting Cambridgeshire
                    and Greater Cambridge City Deal partnerships, and this website is where the technology
                    will emerge.
                </p>
                <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase aqua-alt-link" href="http://www.connectingcambridgeshire.co.uk/smartcamb/">
                    Visit Connecting Cambridgeshire website for more information&nbsp;<i class="material-icons">chevron_right</i>
                </a>
                </p>
            </div>
        </div>

        <div class="cards-section">
            <div class="card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/csn.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Cambridge Sensor Network</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Register you own sensors in Cambridge and collet, see, and analise the data they generate</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'csn-home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/buses.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Buses</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Live buses</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'bus-home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/traffic.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Traffic</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Live and historical traffic data</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'traffic_home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/parking.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Car Parking</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">See data on the main car parks</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'parking_home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/airquality.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Air Quality</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">See data from air quality sensors
                        placed all over Cambridge</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'aq_home' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/forum.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Forum</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Discuss</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'forum:index' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="{% static 'images/home/logo.jpg' %}">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">About</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Who we are, what are we doing</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'about' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
