{% extends "template.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <script type="text/javascript" src="{% static 'js/MovingMarker.js' %}"></script>
{% endblock %}
{% block extra_head %}{% endblock %}
{% block title %}Bus Map{% endblock %}
{% block content %}
    {% block content_web %}
    <div style="height: 80vh;">
        <div id="map" style="height: 90%; width: 100%;"></div>
    </div>
    {% endblock %}
    {% block content_script %}
    <script>
        var line_name = "";
        var operator = "";
        var map = L.map('map').setView({{ mapcenter|default:"[52.205, 0.119], 13" }});
        var mapbounds;
        var info_map = L.control();

        info_map.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'leaflet-control-attribution leaflet-control'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info_map.update = function (info_text) {
            this._div.innerHTML = info_text;
        };

        var buses = [];
        var busIcon = L.icon({
            iconUrl: '{% static 'images/bus-logo.png' %}',
            iconSize: [30, 30]
        });
        var busIconShadow = L.icon({
            iconUrl: '{% static 'images/bus-logo-shadow.png' %}',
            iconSize: [30, 30]
        });

        function retrieve_busdata(previous=false) {
            var url;
            url = '{% url 'siriVM-to-journey' %}';
            $.ajax({
                url: url,
                dataType: 'application/json',
                complete: function (data) {
                    var json = JSON.parse(data.responseText);
                    info_map.update(new Date(json['ts']*1000));
                    for (var i = 0; i < json['request_data'].length; i++) {
                        var bus = json['request_data'][i];
                        existing_bus_index = buses.findIndex(b => b['VehicleMonitoringRef'] === bus['VehicleMonitoringRef']);
                        if (existing_bus_index > -1){
                            // Bus with vehicle_id already in the exisitng buses list
                            if (bus['RecordedAtTime'] != buses[existing_bus_index]['RecordedAtTime']) {
                                // only update if the data received is new
                                bus['marker'] = buses[existing_bus_index]['marker'];
                                bus['marker'].moveTo([bus["Latitude"], bus["Longitude"]], [new Date(bus['RecordedAtTime']) - new Date(buses[existing_bus_index]['RecordedAtTime'])]);
                                bus['marker'].resume();
                                buses.splice(existing_bus_index, 1); // remove old entry
                                buses.push(bus); // Update the entry with the last one
                            }
                        } else if ((line_name === '')&&(operator === '') || (line_name === bus['PublishedLineName'])&&(operator === bus['OperatorRef'])) {
                            // New bus, not present on the existing buses array, create a marker for it
                            bus['marker'] = L.Marker.movingMarker([[bus["Latitude"], bus["Longitude"]], [bus["Latitude"], bus["Longitude"]]], [1000], {icon: busIcon});
                            var tooltip_text = '';
                            if ((bus["OperatorRef"] !== undefined)&&(bus["PublishedLineName"] !== undefined)&&(bus["OriginName"] !== undefined)&&(bus["DestinationName"] !== undefined))
                                tooltip_text += 'Route: ' + (bus["OperatorRef"] || '') + ' - ' + (bus["PublishedLineName"] || '') + ' - ' + (bus["OriginName"] || '') + ' - ' + (bus["DestinationName"] || '') +'<br>';
                                if ((bus["vehicle_journeys"] !== undefined)&&(bus["vehicle_journeys"].length > 0))
                                    tooltip_text = '<a href="/transport/route/timetable/map/bus/'+bus["vehicle_journeys"][0]+'">'+tooltip_text+'</a>';
                            if (tooltip_text !== '')
                                bus['marker'].addTo(map).{% if tooltips_permanent %}bindTooltip{% else %}bindPopup{% endif %}(tooltip_text{% if tooltips_permanent %}, { permanent: true, className: "bus-tooltip", interactive: true }{% endif %}).start();
                            else
                                bus['marker'].addTo(map).start();
                            bus['OperatorRef'] = bus["OperatorRef"];
                            bus['PublishedLineName'] = bus["PublishedLineName"];
                            buses.push(bus); // Update the entry with the last one
                        }
                    }
                    clean_old_buses();
                }
            });
        }

        function clean_old_buses() {
            var visible_buses = [];
            for (var i = 0; i < buses.length; i++) {
                if ((Date.now()-(buses[i]['ts']*1000) > 120000) || (!mapbounds.contains(buses[i]['marker'].getLatLng())))
                    // After 2 minutes since the last appearance in the feed, the bus is deleted
                    // or also if the bus have move out of the screen
                    map.removeLayer(buses[i]['marker']);
                else if ((line_name === '')&&(operator === '') || (line_name === buses[i]['PublishedLineName'])&&(operator === buses[i]['OperatorRef']))
                    visible_buses.push(buses[i]);
                else
                    map.removeLayer(buses[i]['marker']);
            }
            buses = visible_buses;
        }

        function clean_busdata_location() {
            var visible_buses = [];
            for (var i = 0; i < buses.length; i++) {
                if (!mapbounds.contains(buses[i]['marker'].getLatLng()))
                    map.removeLayer(buses[i]['marker']);
                else
                    visible_buses.push(buses[i]);
            }
            buses = visible_buses;
        }

        function retrieve_busdata_repeat() {
            retrieve_busdata();
            setTimeout(retrieve_busdata_repeat, 2000);
        }

        $(document).ready(function() {
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            info_map.addTo(map);
            mapbounds = map.getBounds();
            retrieve_busdata(true);
            retrieve_busdata_repeat();
        });

        map.on('moveend', function() {
            mapbounds = map.getBounds();
            clean_busdata_location();
            retrieve_busdata();
        });

        function line_selector(bus_operator, line) {
            operator = bus_operator;
            line_name = line;
            retrieve_busdata();
        }

        {% block script_lazy %}{% endblock %}

    </script>
    {% endblock %}
{% endblock %}
