Django>=3.2,<4.0
python-dateutil
django-allauth
requests
whitenoise
xmltodict
psycopg2
gunicorn
Pillow
pytz
markdown2
wheel
djangorestframework
coreapi
pygments
markdown
django-cors-headers
iso8601
zeep
django-filter
pyofo
pycrypto
geopy
ipython
pandas
xlrd
