Django>=2.2,<2.3
python-dateutil
django-allauth
requests
whitenoise
xmltodict
psycopg2-binary
gunicorn
Pillow
pytz
django-mptt
django-haystack
markdown2
django-widget-tweaks
django-machina
wheel
djangorestframework
coreapi
pygments
markdown
django-cors-headers
iso8601
zeep
django-filter
pyofo
pycrypto
geopy
ipython
pandas
xlrd
