Django>=4.2,<4.3
python-dateutil
django-allauth
requests
whitenoise
psycopg2-binary
gunicorn
Pillow
pytz
markdown2
wheel
djangorestframework
coreapi
pygments
markdown
django-cors-headers
iso8601
zeep
django-filter
pyofo
pycryptodome
geopy
ipython
pandas
xlrd
untangle
pyproj
isodate
