{% load static %}
{% load jsonify %}
<!DOCTYPE html>
<html>
<head>
    <title>SmartCambridge SmartPanel</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>

    <script src="http://underscorejs.org/underscore-min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack-extra.min.css" />
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js'></script>


    <script>
        var defaultGrid = {% if layout %}{{ layout.design|jsonify|safe }}{% else %}{
            '0': {w: 1, h: 2, x: 0, y: 0}
        }{% endif %};
    </script>
    <script src="{% static 'smartpanel/smartpanel.js' %}"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="{% static 'smartpanel/smartpanel.css' %}"/>
</head>
<body>
    <div class="header" style="height: 60px; margin-left: 20px;">
        <form id="smartpanel-design-form" action="{% if layout %}{% url 'smartpanel-design-edit' layout.id %}{% else %}{% url 'smartpanel-design' %}{% endif %}" method="post">
            {% csrf_token %}
            <input id="design" name="design" type="text" hidden>
            <div class="mdl-textfield mdl-js-textfield" style="margin-right: 10px">
                <label for="name" class="mdl-textfield__label">Layout name</label>
                <input id="name" name="name" type="text" required class="mdl-textfield__input"{% if layout %} value="{{ layout.name }}"{% endif %}>
            </div>
            <input id="save" type="submit" value="save configuration"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        {% if layout %}
            <a href="{% url 'smartpanel-layout-config' layout.id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Cancel</a>
        {% endif %}
            <a id="add-widget" href="#add-widget"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">add widget</a>
            <a href="{% url 'smartpanel-home' %}"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Home Page</a>
        </form>
    </div>
    <div class="grid-container mdl-color--teal-900" style="width: 1920px; height: 1020px; padding: 1px 1px 2px 1px; overflow: hidden;">
        <div class="grid-stack grid-stack-6">
        </div>
    </div>
</body>
</html>
