{% extends "smartpanel/base.html" %}
{% load static %}
{% block extra_head %}
    {{ screen_form.media }}
    <style>
        #id_location_div_map {
            float: none !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h1 class="mdl-typography--display-1-color-contrast">New Screen</h1>
        <form action="{% if edit %}{% url 'smartpanel-edit-display' screen_form.instance.slug %}{% else %}{% url 'smartpanel-new-display' %}{% endif %}" method="post">
            {% csrf_token %}
            <p>{{ screen_form.errors }}</p>
            {{ screen_form.as_p }}
            <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Save">
        </form>
        {% if edit %}
        <form action="{% url 'smartpanel-delete-display' screen_form.instance.slug %}" method="post" style="margin-top: 20px;">
            {% csrf_token %}
            <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Delete Display">
        </form>
        {% endif %}
    </div>
{% endblock %}
