{% extends "smartpanel/base.html" %}
{% load static %}
{% block content %}
        <div class="mdl-typography--display-2-color-contrast">SmartPanels</div>
        <div class="cards-section" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">Layouts</div>
            <div class="card-container mdl-grid">

            {% if user.is_authenticated %}
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">My SmartPanel layouts</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of all my SmartPanel layouts</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-list-my-layouts' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New SmartPanel layout</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Design a new SmartPanel</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-design' %}">
                            Create
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            {% endif %}
{# TODO Re enable once public opt-in done#}
{#                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">#}
{#                    <div class="mdl-card__media">#}
{#                        <img src="">#}
{#                    </div>#}
{#                    <div class="mdl-card__title">#}
{#                        <h4 class="mdl-card__title-text">SmartPanel layouts</h4>#}
{#                    </div>#}
{#                    <div class="mdl-card__supporting-text">#}
{#                        <span class="mdl-typography--font-light mdl-typography--subhead">List of all public SmartPanel layouts</span>#}
{#                    </div>#}
{#                    <div class="mdl-card__actions">#}
{#                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-layout-all' %}">#}
{#                            View#}
{#                            <i class="material-icons">chevron_right</i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}

            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="cards-section" style="padding-top: 0">

            <div class="cards-section-title mdl-typography--display-1-color-contrast">Displays</div>
            <div class="card-container mdl-grid">

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">My SmartPanel displays</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of my SmartPanel displays in a map</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-list-my-displays' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New SmartPanel display</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Create new SmartPanel display</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-new-display' %}">
                            Create
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

{#                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">#}
{#                    <div class="mdl-card__media">#}
{#                        <img src="">#}
{#                    </div>#}
{#                    <div class="mdl-card__title">#}
{#                        <h4 class="mdl-card__title-text">Public SmartPanel displays</h4>#}
{#                    </div>#}
{#                    <div class="mdl-card__supporting-text">#}
{#                        <span class="mdl-typography--font-light mdl-typography--subhead">List of public SmartPanel displays in a map</span>#}
{#                    </div>#}
{#                    <div class="mdl-card__actions">#}
{#                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-list-displays' %}">#}
{#                            View#}
{#                            <i class="material-icons">chevron_right</i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        {% endif %}
{% endblock %}
