{% extends "smartpanel/base.html" %}
{% load static %}
{% block content %}
        <div class="cards-section">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">SmartPanels</div>
            <div class="card-container mdl-grid">

            {% if user.is_authenticated %}
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New SmartPanel</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Design a new SmartPanel</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-design' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">My SmartPanels</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of all my SmartPanel designs</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-my' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            {% endif %}

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Public SmartPanels</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of all public SmartPanel designs</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-all' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

            {% if user.is_authenticated %}
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New Display</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Create new display</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-new-display' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">My SmartPanel displays</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of my SmartPanel displays in a map</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-list-my-displays' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            {% endif %}

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Public SmartPanel displays</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">List of public SmartPanel displays in a map</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'smartpanel-list-displays' %}">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
