{% load static %}
{% load jsonify %}
{% load remove_underscore %}
<!DOCTYPE html>
<html>
<head>
    <title>SmartCambridge SmartPanel</title>
    <link rel="stylesheet" href="{% static 'smartpanel/smartpanel.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="{% static 'smartpanel/widget_config.css' %}">
    <script src="{% static 'smartpanel/widget_config.js' %}"></script>

    {% for stylesheet in external_stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet.href }}"{% if stylesheet.integrity %} integrity="{{ stylesheet.integrity }}"  crossorigin="anonymous"{% endif %}>
    {% endfor %}
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js" integrity="sha256-KWJavOowudybFMUCd547Wvd/u8vUg/2g0uSWYU5Ae+w=" crossorigin="anonymous"></script>
    <script src="{% static 'js/rtmonitor_api.js' %}"></script>
    {% for script in external_scripts %}
        <script src="{{ script.src }}"{% if script.integrity %} integrity="{{ script.integrity }}"  crossorigin="anonymous"{% endif %}></script>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
</head>
<body>
    <div id="overlay-configure-widget">
        <div id="configuration-widget-div">
            <div id="configuration-widget-form"></div>
            <div id="configuration-widget-buttons">
                <a id="configuration-widget-save-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Save</a>
                <a id="configuration-widget-cancel-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Cancel</a>
            </div>
        </div>
    </div>
    <div class="logos" style="height: 60px;">
        <form action="{% url 'smartpanel-layout-config' layout.id %}" method="post" id="config-form" style="float: left; margin-top: 10px; margin-left: 10px;">
            {% csrf_token %}
            <input type="hidden" name="data" id="form-data">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" value="Save configuration" id="submit-form-data">
        </form>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
           href="{% url 'smartpanel-design-edit' layout.id %}" style="float: left; margin-top: 10px; margin-left: 10px;">Edit layout design</a>
        <form action="{% url 'smartpanel-layout-publish' layout.id %}" method="post" style="float: left; margin-top: 10px; margin-left: 10px;">
            {% csrf_token %}
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" value="Publish Layout">
        </form>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
           href="{% url 'smartpanel-layout' layout.id %}" target="_blank" style="float: left; margin-top: 10px; margin-left: 10px;">View layout</a>


        <span style="font-size: 12px">Last published: {{ layout.version_date }}</span>
    </div>
    <div class="grid-container mdl-color--teal-900" style="height: calc((100vw - 80px) * 0.5625); overflow: hidden;">
        <ul id="grid" class="grid">
            {% for key, value in confdata.items %}
                <li style="height: calc({{ value.design.h }}*100%/4);
                        width: calc({{ value.design.w }}*100%/6); top: calc({{ value.design.y }}*100%/4);
                        left: calc({{ value.design.x }}*100%/6);">
                    <div id="section-{{ key }}" style="height: 100%; width: 100%; background-color: white;">
                        {% if value.configuration %}
                            <div id="widget-{{ key }}" style="height: 100%; width: 100%; background-color: white;"></div>
                            <div style="z-index: 10; background-color: rgba(255, 255, 255, 0.5); bottom: 40px; position: relative; padding-left: 10px">
                                <form action="{% url 'smartpanel-layout-delete-widget' layout.id %}" method="post" style="margin: 0; padding: 0; line-height: 1em;">
                                    {% csrf_token %}
                                    <input type="hidden" name="widgetid" value="{{ key }}">
                                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" value="Delete this widget">
                                </form>
                            </div>
                        {% else %}
                            <select id="widget-selector-{{ key }}" data-widget-id="{{ key }}" class="widget-selector mdl-textfield__input" style="width: 85%; top: 20px; position: relative; margin: auto; margin-bottom: 10px;">
                                <option value="" selected disabled>Select a widget</option>
                                {% for widget in widgets_list %}
                                <option value="{{ widget.file }}">{{ widget.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div></li>
            {% endfor %}
        </ul>
    </div>
    <script>
        function functionalise(str) {
            frags = str.split('_');
            for (i=0; i<frags.length; i++) {
                frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
            }
            return frags.join('');
        }

        data = {};
        $(".widget-selector").change(function (e) {
            var widget_name = $(this).val();
            $.getScript('{% static 'smartpanel/widgets' %}/'+widget_name+'/'+widget_name+'.js')
                .done(function( script, textStatus ) {
                    var widget_id = $(e.currentTarget).data('widget-id').toString();
                    // Initialise the Widget passing widget_id
                    var widget = new window[functionalise(widget_name)](widget_id);
                    // Call widget configuration script with config and preexisting params (if any).
                    // It will return a dictionary with three functions:
                    // valid() [to validate the form], value() [to retrieve the data from the form],
                    // and config() [to show data in the config square]
                    widget_conf = widget.configure(
                        {
                            'container_id': 'configuration-widget-form',
                            'static_url': '{% static widget_location %}'
                        },
                        {});
                    $('#overlay-configure-widget').css( "display", "flex" );
                    var save_button = document.getElementById('configuration-widget-save-button');
                    $.data( save_button, "widget_id", widget_id );
                    $.data( save_button, "widget_name", widget_name );
                    $.data( save_button, "valid", widget_conf.valid );
                    $.data( save_button, "config", widget_conf.config );
                    $.data( save_button, "value", widget_conf.value );
                });
        });
        $('#config-form').submit(function () {
            $('#form-data').val(JSON.stringify(data));
        });

        $('#configuration-widget-save-button').click(function (e) {
            var save_button = $(this);
            if (save_button.data("valid")() === true) {
                $("#overlay-configure-widget").hide();
                $("#configuration-widget-form").empty();
                data[save_button.data("widget_id")] = {
                    "widget": save_button.data("widget_name"),
                    "data": save_button.data("value")()
                };
                var placeholder = save_button.data("config")();
                // Retrieve the widget conf space to replace it with the results from the widget conf
                $("#section-"+save_button.data("widget_id")).text(placeholder.title);
            }
        });

        $('#configuration-widget-cancel-button').click(function (e) {
            $("#overlay-configure-widget").hide();
            $("#configuration-widget-form").empty();
            $(".widget-selector").prop('selectedIndex', 0);
        });

        // Note we must instatiate RTMonitorAPI before widgets
        var RTMONITOR_API = new RTMonitorAPI();
        // Widget spec requires a DEBUG global
        var DEBUG = '';
        var widget = [];
        {% for key, value in confdata.items %}
            {% if value.configuration %}
                {% with 'smartpanel/widgets/'|add:value.configuration.widget|add:'/' as widget_location %}
                    widget.push(new {{ value.configuration.widget|title|remove_underscore }}(
                        {'container': 'widget-{{ key }}', 'static_url': '{% static widget_location %}'},
                        JSON.parse("{{ value.configuration.data|jsonify|escapejs }}")
                    ));
                {% endwith %}
            {% endif %}
        {% endfor %}

        $(document).ready(function () {
            for (var i = 0; i < widget.length; i++)
                if ('init' in widget[i])
                    widget[i].init();
            // Now we know widgets have run 'init', we can tell RTMonitorAPI to connect and tell those widgets
            RTMONITOR_API.init();
        });
    </script>
</body>
</html>
