{% extends "smartpanel/base.html" %}
{% load static %}
{% block content %}
        <div class="cards-section" style="padding: 0;">
            <div class="cards-section-title mdl-typography--display-1-color-contrast">My layouts</div>
            <p>Layouts are where you say which widget goes where on the screen to make up your chosen SmartPanel design.
                After creating a new Layout, you can create a new Display and assign that layout to the display</p>
            <div class="card-container mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp"
                     style="background-color: #ddffdd;">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">New Layout</h4>
                    </div>
                    <div class="mdl-card__supporting-text" style="padding-bottom: 125px;">
                        <span class="mdl-typography--font-light mdl-typography--subhead">
                            Create your SmartPanel design
                        </span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                           href="{% url 'smartpanel-design' %}" target="_blank">
                            Create <i class="material-icons">chevron_right</i>
                        </a>
                        <a id="import-link" class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase">
                            Import <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                {% for smartpanel in smartpanels %}
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Layout {{ smartpanel.name }}</h4>
                    </div>
                    <div class="mdl-card__actions">
                    {% if edit %}
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                           href="{% url 'smartpanel-layout-config' smartpanel.slug %}">
                            Edit
                            <i class="material-icons">chevron_right</i>
                        </a>
                        <a class="delete-link aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase" data-layout-id="{{ smartpanel.slug }}">
                            Delete <i class="material-icons" data-layout-id="{{ smartpanel.slug }}">chevron_right</i>
                        </a>
                    {% endif %}
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                           href="{% url 'smartpanel-layout' smartpanel.slug %}" target="_blank">
                            View
                            <i class="material-icons">chevron_right</i>
                        </a>
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                           href="{% url 'smartpanel-layout-export' smartpanel.slug %}" target="_blank">
                            Export
                            <i class="material-icons">chevron_right</i>
                        </a>
                        <a class="aqua-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                           href="{% url 'smartpanel-layout-export' smartpanel.slug %}?download=true" target="_blank">
                            Export (as file)
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <dialog id="dialog-delete" class="mdl-dialog">
            <div class="mdl-dialog__content">
                <p>
                    Are you sure you want to delete this layout?
                </p>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <form action="{% url 'smartpanel-layout-delete' %}" method="post">
                    {% csrf_token %}
                    <input id="form_delete_layout_id" type="hidden" name="layout_id">
                    <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Yes">
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close">No</button>
                </form>
            </div>
        </dialog>
        <dialog id="dialog-import" class="mdl-dialog">
            <div class="mdl-dialog__content">
                <form id="import-form" action="{% url 'smartpanel-layout-import' %}" method="post">
                    <p>
                        Copy the layout configuration from a layout export
                    </p>
                    {% csrf_token %}
                    <label for="design">Layout configuration</label>
                    <textarea id="import-content" name="design" style="width: 100%; height: calc(100% - 70px)"></textarea>
                </form>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <div class="dialog-buttons">
                    <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect import" value="Import">
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close">Cancel</button>
                </div>
            </div>
        </dialog>
{% endblock %}
{% block lazy_script %}
    <script>
        var dialog_delete = document.querySelector('#dialog-delete');
        var dialog_import = document.querySelector('#dialog-import');
        var deleteModalButtons = document.querySelectorAll('.delete-link');
        var importModalButtons = document.querySelector('#import-link');
        importModalButtons.addEventListener('click', function() {
            dialog_import.showModal();
        });
        if (! dialog_delete.showModal) {
            dialogPolyfill.registerDialog(dialog_delete);
        }
        if (! dialog_import.showModal) {
            dialogPolyfill.registerDialog(dialog_import);
        }
        for (var i = 0; i < deleteModalButtons.length; i++) {
            deleteModalButtons[i].addEventListener('click', function(event) {
                dialog_delete.showModal();
                document.querySelector('#form_delete_layout_id').value = event.target.dataset.layoutId;
            });
        }
        dialog_delete.querySelector('.close').addEventListener('click', function() {
            dialog_delete.close();
        });
        dialog_import.querySelector('.close').addEventListener('click', function() {
            dialog_import.close();
        });
        dialog_import.querySelector('.import').addEventListener('click', function() {
            document.querySelector('#import-form').submit();
        });

        $(function () {
            $(".delete-link").click(function (e) {
                e.preventDefault();
                $(e.currentTarget).parent().submit();
            })
        })
    </script>
{% endblock %}
