{% load static %}
{% load jsonify %}
<!DOCTYPE html>
<html>

<head>

  <title>SmartPanel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"/>

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

{% for stylesheet in external_stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet.href }}"{% if stylesheet.integrity %}
        integrity="{{ stylesheet.integrity }}"
        crossorigin="anonymous"{% endif %}>
{% endfor %}
{% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}">
{% endfor %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/onsenui.css"
        integrity="sha256-lx+snb1sEoF4FZ409vDRAdaRPSeaCpitIrlqgjx2lIw="
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/onsen-css-components.min.css"
        integrity="sha256-wTuU68T9vFNDRwSFBSwBQ86kY0W3kKMEXV6qQ2SE9ak="
        crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'smartpanel/widgets.css' %}"/>
  <link rel="stylesheet" href="{% static 'smartpanel/bus_stop_chooser/bus_stop_chooser.css' %}">
  <link rel="stylesheet" href="{% static 'smartpanel/pocket.css' %}"/>

  <!-- errorception error logging -->
  <script>
    (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
    c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
    c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
    _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
    (window,document,"script","5c068c8f998a523571e3acd8");
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/js/onsenui.min.js"
          integrity="sha256-qhvVlIL6CcPqvw6Jpkbf/M3MHU427GRnfw8Sy/VltqE="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"
          integrity="sha256-KWJavOowudybFMUCd547Wvd/u8vUg/2g0uSWYU5Ae+w="
          crossorigin="anonymous"></script>
{% for script in external_scripts %}
  <script src="{{ script.src }}"{% if script.integrity %}
          integrity="{{ script.integrity }}"
          crossorigin="anonymous"{% endif %}></script>
{% endfor %}
{% for script in scripts %}
  <script src="{{ script }}"></script>
{% endfor %}
  <script src="{% static 'smartpanel/bus_stop_chooser/bus_stop_chooser.js' %}"></script>
  <script src="{% static 'js/rtmonitor_api.js' %}"></script>
  <script src="{% static 'smartpanel/pocket.js' %}"></script>
</head>

<body>

  <ons-navigator swipeable id="myNavigator"></ons-navigator>

  <template id="first.html">
    <ons-page id="first">
      <div class="background"></div>
      <div class="first-page">
        <img src="{% static 'images/Smart-Cambridge-LOGO-WithByline.png' %}">
        <h1>Pocket SmartPanel</h1>
        <p>
          Before using the Pocket SmartPanel, please confirm that you
          understand and accept the <a href="#">terms and conditions</a>
          under which it is provided.
        </p>
        <p>
          Please also confirm that the Pocket SmartPanel can use the
          computer or mobile phone that it runs on to store the list of the
          pages that you have chosen to view.
        </p>
        <ons-button id="accept" modifier="large">Yes, that's fine</ons-button>
      </div>
    </ons-page>
  </template>

  <template id="tcs.html">
    <ons-page id="tcs">
      <div class="background"></div>
      <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Terms and Disclaimer</div>
      </ons-toolbar>
      <div class="tcs">
        <p style="font-style: italic">Version 1 - July 2018</p>

        <p style="font-weight: bold">
            The terms of this disclaimer will apply, where applicable, to those
            persons displaying the information and those members of the public
            viewing the information displayed.
        </p>

        <p>
            The information being hosted by the University of Cambridge for this
            Initiative is provided by Cambridgeshire County Council (the
            "AUTHORITY"). The information will be hosted on a restricted access
            webpage (the "WEBSITE").
        </p>

        <p>
            The information is solely for the purposes of displaying up-to-date
            travel and other associated information for the general public (the
            "INITIATIVE"). The information may not be copied or reproduced without
            prior consent from the Authority.
        </p>

        <p>
            The Authority accepts no responsibility for any errors or omissions in
            the information, including and particularly in relation to information
            provided by a third party. Although the Authority will take steps to
            ensure that the information provided to the University of Cambridge for
            this Initiative is correct, the Authority and any other parties
            associated with the provision of the information shall not be liable or
            responsible for any loss or damage that may result from the use of, or
            action taken in reliance on the information.
        </p>

        <p>
            The Authority cannot guarantee the availability of the Website, nor that
            that the Website will be free from viruses. The Authority accepts no
            liability for damage resulting from virus infection. The Authority may
            at its sole discretion terminate access to the information at any time.
        </p>

        <p>
            The Authority accepts no liability for the loss, theft, damage or
            destruction of computer or other related equipment used for the purposes
            of the Initiative.
        </p>

      </div>
    </ons-page>
  </template>

  <template id="list.html">
    <ons-page id="list" class="list">
    	<ons-toolbar>
        <div class="left">
          <ons-toolbar-button>
            <span id="edit" class="edit">Edit</span>
            <span id="done" class="done default">Done</span>
          </ons-toolbar-button>
        </div>
        <div class="center">Pocket SmartPanel</div>
        <div class="right"><ons-toolbar-button id="add" class="pages-add">
          <ons-icon icon="ion-ios-plus-empty, material:ion-android-add"></ons-icon>
        </ons-toolbar-button></div>
      </ons-toolbar>
      <div class="background"></div>
      <ons-list id="page-list" class="page-list"></ons-list>
    </ons-page>
  </template>

  <template id="page-display.html">
    <ons-page id="page-display">
      <div class="background"></div>
    	<ons-toolbar>
    		<div class="left"><ons-back-button></ons-back-button></div>
        <div class="right"><ons-toolbar-button id="map">Map</ons-toolbar-button></div>
      </ons-toolbar>
      <div id="widget-container" class="widget-container"></div>
    </ons-page>
  </template>

  <template id="map-display.html">
    <ons-page id="map-display">
      <ons-toolbar>
      	<div class="left"><ons-back-button></ons-back-button></div>
        <div class="right"><ons-toolbar-button id="timetable">List</ons-toolbar-button></div>
      </ons-toolbar>
      <div id="overlay-container" class="widget-container full-screen" ></div>
    </ons-page>
  </template>

  <template id="config.html">
    <ons-page id="config">
      <div class="background"></div>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button id="submit">
            <span class="default">Save</span>
          </ons-toolbar-button>
        </div>
        <div class="center">Page setup</div>
        <div class="right">
          <ons-toolbar-button id="cancel">
            Cancel
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="content">
        <div id="config-area" class="config-area"></div>
      </div>
    </ons-page>
  </template>

  <script>

    const WIDGET_CONFIG = JSON.parse('{{ settings|jsonify|escapejs }}');
    const STATIC_URL = '{% static 'smartpanel/widgets/' %}';
    const RT_TOKEN = '{{ rt_token }}';

  </script>

</body>
</html>
