{% load static from staticfiles %}
<h1 class="widget_error">No connection - retrying</h1>

<h1><img src="{% static 'smartpanel/widgets/station_board/br-logo.png' %}"> {{ data.locationName }}</h1>
<div class="timestamp">Updated {{ data.generatedAt }}</div>

{% for message in data.messages %}
    <div class="message">{{ message }}</div>
{% endfor %}

<table class="timetable">
  <tr>
    <th class="time">Due</th>
    <th class="time">Expected</th>
    <th>Destination</th>
    {% if request.GET.platforms == 'y' %}
    <th class="time">Plat</th>
    {% endif %} 
  </tr>
{% for service in data.services %}
  {% if service.etd != 'On time' %}
  <tr class="issue">
  {% else %}
  <tr>
  {% endif %}
    <td class="time"><span class="key">{{ service.std }}</span></td>
    <td class="time">{{ service.etd }}</td>
    <td>{{ service.destination }}</td>
    {% if request.GET.platforms == 'y' %}
    <td class="time">{{ service.platform }}</td>
    {% endif %}
  </tr>
{% endfor %}
</table>

<div class="credit">
    <a href="http://www.nationalrail.co.uk/"><img alt="Powered by National Rail Enquires" 
      src="{% static 'smartpanel/widgets/station_board/NRE_Powered_logo.png' %}"></a>
</div>

</div>
