{% load static %}
<h1><img src="{% static 'smartpanel/widgets/weather/weather.png' %}" alt=""> {{ location }}</h1>

{% if results %}

<div class="timestamp">Issued {{ issued }}</div>

{% for result in results %}

<div class="title">
     <span>{{ result.title }}</span>
     <span>({{ result.timestamp_text }})</span>
</div>

{% if result.icon %}
<img src="{% static result.icon %}" alt="" class="icon" />
{% endif %}

<p>

<b>{{ result.description }}</b>

<br>

<b>{{ result.T }}&deg;C</b>
{% if result.T != result.F %}
(feels like {{ result.F }}&deg;C)
{% endif %}

<br>

Wind <b>{{ result.wind_desc }}</b> ({{ result.S }} mph) <b>{{ result.D }}</b>

</p>

{% endfor %}

{% else %}

<div class="timestamp">Forecast unavailable</div>

{% endif %}

</div>
