/* Styles for the station board widget */

.station_board {
    height: 100%;
    padding: 0.5em;
    position: relative;
    width: 100%;
}

.station_board .content_area {
    border-bottom: 40px solid transparent;
    height: 100%;
    overflow: hidden;
}

.station_board .credit {
    bottom: 0.5em;
    height: 30px;
    left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    width: 100%;
}

.station_board .credit img {
    height: 30px;
}

.station_board_config_div {
    border-style: ridge;
    border-width: thick;
    background-color: #f0f0f0;
    z-index: 1001;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 800px;
    display: none;
}

